$naranja: #f55f0a;
$n_botones: #ef7d38;
$n_botones_hover: #ec600b;
$verde: #093c2d;
$verde_texto: #43706a;
$gris: #424242;
$gris_fondo: #d7d7d7;
$m_gray_light: #DDDDDD;

%linea {
	content: "";
	position: absolute;
	left: 8%;
	width: 65%;
	border-bottom: 1px solid $m_gray_light;
}

%general {
	padding-bottom: 1em;
	h3 {
		text-align: center;
	}
	h2 {
		position: absolute;
		text-align: center;
		color: white;
		top: 0.5em;
		padding: 0.5em;
		background: rgba($verde, 0.8);
	}
	img {
		width: 100%
	}
	.datos {
		background: rgba($verde, 0.8);
		color: white;
		bottom: 0;
		padding: 0.5em;
		.acciones{
			position: absolute;
			right: 0;
			bottom: 1em;
			padding-right: 5%;
			button{
				color: white;
				text-transform: uppercase;
				padding: 0.5em 2em;
				margin-right: 0.2em;
			}
		}
	}
	.descripcion {
		text-align: justify;
		h4 {
			background: $verde;
			color: white;
			padding: 0.3em;
			margin: 1em 0 0 0;
			width: 20%;
			text-transform: uppercase;
			text-align: center;
		}
		p {
			border: 1px solid gray;
			border-radius: 0 10px 10px 10px;
			padding: 1em;
		}
	}
}

%general_boton {
	&:hover {
		background: $n_botones_hover;
	}
	padding: 0.2em 2em 0.2em 2em;
	margin-left: 3em;
	text-transform: uppercase;
	font-size: 13px;
	color: white;
	border: none;
	border-radius: 2px;
}

%tablas_general {
	table {
		width: 100%;
		th {
			background: $gris;
			text-transform: uppercase;
			color: white;
			border: 1px solid white;
			text-align: center;
			padding: 0 1em;
		}
		td {
			background: white;
			text-align: center;
		}
	}
}

%general_compras {
	h1 {
		text-align: center;
	}
	div {
		padding: 0.5em 0;
	}
	@extend %tablas_general;
	.center {
		text-align: center;
	}
}

.contacto {
	h1 {
		text-align: center;
	}
}
.ofertas {
	@extend %tablas_general;
	h1 {
		text-align: center;
	}
	.center {
		text-align: center;
	}
}

.confirmaciones {
	h1 {
		text-align: center;
	}
	div {
		padding: 1em 0;
	}
	p {
		text-align: justify;
	}
	.center {
		text-align: center;
	}
}

.botones_centro {
	padding: 1em;
	margin-right: 0.5em;
	text-align: center;
}

.contrasenha {
	padding: 1em;
	.centro, h1 {
		text-align: center;
	}
}

.proyectos_mercado {
	@extend %general;
	div {
		padding-top: 0.5em;
	}
	h2 {
		padding-top: 0.5em;
		background: rgba($verde, 0.8);
	}
	.datos {
		background: rgba($verde, 0.8);
		.acciones{
			button{
				background: $naranja;
			}
		}
	}
	.descripcion {
		h4 {
			background: $verde;
		}
	}
}
.micuenta {
	margin-top: 3%;
	padding-bottom: 3%;
	.contenido {
		.form_cuenta {
			h3 {
				text-align: center;
				padding-bottom: 0.3em;
			}
		}	
		.proyectos, .derechos {
			@extend %general;
			div {
				padding-top: 0.5em;
			}
			h2 {
				padding-top: 0.5em;
				background: rgba($verde, 0.8);
			}
			.datos {
				background: rgba($verde, 0.8);
				.acciones{
					button{
						background: $naranja;
					}
				}
			}
			.descripcion {
				h4 {
					background: $verde;
				}
			}
		}
		.transacciones {
			h3 {
				text-align: center;
			}
			table {
				width:100%;
				th {
					text-align: center;
					text-transform: uppercase;
					background: gray;
					color: white;
					border: 1px solid white;
				}
				td {
					padding: 0.5em;
					background: white;
				}
			}
		}
	}
	.opciones {
		@include border-radius(10px);
		background: #fff;
		ul{
			li{				
				a{
					font-size: 16px;
					color: #123731;
					padding-left: 20px;
					line-height: 50px;
					border-bottom: solid 2px #f0f2f7;
					display: block;
					i{
						float: right;
						line-height: 50px;
						margin-right: 10%;
					}
				}
			}
		}
	}
}

#modal_derechos_descripcion {
	p {
		text-align: justify;
	}
}

.df_mercado_desc_full, .df_mercado_desc_mid, .df_mercado_desc_last {
	span, a {
		color: #10665c;
		text-decoration: none;
	}
	a:hover {
		color: blue;
	}
}

.proceso_compra {
	background: $gris_fondo;
	width: 100%;
	padding-left: 7em;
	h2 {
		padding: 0.5em;
		color: white;
		background: $verde;
		text-transform: uppercase;
		font-size: 15px;
		text-align: center;
		width: 21%;
	}
	p {
		padding: 1em;
		margin-top: -10px;
		text-align:	justify;
		border: 1px solid gray;
		width: 90%;
	}
}

.confirmar-compra {
	@extend %general_compras;
	form {
		text-align: center;
	}
}

.compra_confirmada {
	@extend %general_compras;
	p {
		text-align: justify;
	}
}

.detalle-derechos {
	padding: 3em 0 0 0; 
	margin-bottom: 2em;
	p {
		font-family: verdana;
		color: $gris;
	}
	.descripcion {
		margin-top: 0.5em;
		padding-top: 0.5em;
		h3 {
			padding: 0.5em;
			color: white;
			background: $verde;
			text-transform: uppercase;
			font-size: 15px;
			text-align: center;
			width: 26%;
		}
		p {
			padding: 1em;
			margin-top: -10px;
			text-align:	justify;
			border: 1px solid gray;
			width: 97%;
		}
	}
	.label_partial {
			color: $verde_texto;
			font-size: 15px;
		}
	.proyecto_name {
		font-family: Helvetica;
		text-transform: uppercase;
		font-size: 22px;
	}
	.detalle {
		padding: 1em 0 0 1.5em;
	}
	.tipos {
		p {
			text-transform: capitalize;
			font-size: 20px;
		}
	}
	.derecho-nombre {
		margin-bottom: 1em;
		p {
			font-family: Helvetica;
			text-transform: uppercase;
			font-size: 22px;
		}
	}
	.inversion {
		p {
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	.precio {
		p {
			font-size: 20px;
			font-style: italic;
		}
	}
	.marca {
		p {
			color: $verde_texto;
			font-size: 15px;
		}
	}
	.negociable {
		margin: 1em 0 0 0; 
		padding: 1em 0 1em 0;
		&:before {
			@extend %linea;
			top: 0;
		}
		&:after {
			@extend %linea;
			bottom: 0;
		}
		p {
			color: $verde_texto;
			font-size: 16px;
			padding-top: 0.6em;
		}
	}
	.botones_wrapper {
		padding: 0.5em 10em 0.5em 3em;
		&:after {
			@extend %linea;
			bottom: 0;
		}
		.boton {
			@extend %general_boton;
			background: $n_botones;
		}
		.boton_blank {
			@extend %general_boton;
			&:hover {
				background: white;
				border: 1px solid blue;
			}
			color: $gris;
			background: white;
			border: 1px solid $m_gray_light;
		}
	}
}

.confirmacion {
	padding-left: 15%;
	background: white;
	font-weight: 400;
	.datos {
		background: rgba($naranja, 0.8);
		color: white;
		position: absolute;
		bottom: 0;
		padding: 1em;
		left: 2em;
		right: 2em;
	}
	.adicional {
		h3 {
			text-transform: uppercase;
			color: $verde;
			text-align: center;	
		}
		p {
			text-align: justify;
		}
	}
	.boton {
		padding: 1em 2em;
		text-align: center;
	}
	img { 
		width: 100%;
	}
	h1 {
		color: $verde;
		padding: 0.5em;
		text-align: center;
		text-transform: uppercase;
	}
	h2 {
		position: absolute;
		text-align: center;
		color: white;
		top: 0.5em;
		padding: 0.5em;
		background: rgba($naranja, 0.8);
	}
}