/*desarrollador por Cristia Hernandez 2015*/

@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/utilities";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/font-face";

/*=======colors=======*/

$m_orange:			#f55f0a;
$m_green:			#093c2d;
$m_green_dark:		#083628;
$m_gray:			#666666;
$m_gray_light:		#DDDDDD;
$m_gray_soft:		#f9f9f9;

/*=======colors-end=======*/

/*=======fonts=======*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

/*=======fonts-end=======*/

/*=======BorderRadius=======*/

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}

/*=======BorderRadius-end=======*/

/*=======Media=======*/

@media only screen and (max-width: 1045px) {
	body {
		.c_par_static {
			overflow: hidden;
			img { width: 200%;}
		}
	}
}

@media only screen and (max-width: 820px) {
	body {
		.c_fullHome {
			width: 100%;
			.c_seccCont {
				width: 100%;
			}
		}
	}
}

/*=======Media-end=======*/

/*=======Artefactos=======*/

%bg-basic {
	background: {
		repeat: no-repeat;
		position: center center;
		color: transparent;
		size: 100%;
	}
}
%after-before-bas {
	position: absolute;
	content: " ";
}
%ab-100 {
	@extend %after-before-bas;
	width: 100%;
}
%btn_icono {
	@include hide-text(left);
	@extend %bg-basic;
	cursor: pointer;
	display: block;
}
%btn_icono_left {
	@extend %bg-basic;
	background: {
		position: 0.5em center;
		size: 1.5em;
	}
	padding-left: 2.5em;
}
%btn_inicial {
	@include border-radius(0);
	@include transition(all 0.3s ease-in-out);
	border: none;
	background: $m_orange;
	padding: 0.5em 1.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover { background-color: $m_green;}
}
%btn_text_link {
	border: none;
	background: none;
}

%fullBOX {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* Pseudo-clase */

/*=======Genericos=======*/

body {
	position: relative;
	background: #efefef;
	line-height: 150%;
	font: {
		family: 'Roboto', sans-serif;
		size: 15px;
	}
	ol,
	nav,
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	a, a:link {
		text-decoration: none;
		cursor: pointer;
	}
}

.c_cerrar {
	@extend %btn_icono;
	position: absolute;
	width: 2em;
	height: 2em;
	background-image: url(../svg/ico_close.svg);
	z-index: 2;
	top: 1em;
	right: 1em;
}


//menu 

.c_menu {
	z-index: 2;
	.navbar-nav {
		float: right;
		li {
			width: 10em;
			a { 
				color: white;
				padding: 10px;
				text-align: right;
				word-wrap: break-word;
			}
			&:hover{
				a{color: #000;}
			}
		}
	}
	.navbar-brand { height: auto;}
	#user_navbar{
		margin-bottom: 1%;
		.navbar-nav{
			li{
				a{
					padding-bottom: 0px;
					&:hover{
						background: none;
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

//home

.c_fullHome {
	position: relative;
	top: -10em;
	z-index: 1;
}
.c_bannerInitial {
	position: relative;
	img { width: 100%;}
	h1 {
		position: absolute;
		top: 50%;
		left: 15%;
		width: 70%;
		color: white;
		font-size: 35px;
	}
}
.c_prinAction {
	position: relative;
	z-index: 2;
	background: white;
	.col-md-6 {
		margin-top: -10em;
		padding: 0;
		.action-interna{
			margin: 0px 15px;
			position: relative;
			.d-icon{
				width: 150px;
				height: 150px;
				background: #fff;
				text-align: center;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				position: absolute;
				left: 0%;
				right: 0%;
				top: 10%;
				margin-left: auto;
				margin-right: auto;
				img{
					width: 85px;
				}
			}
			img { width: 100%;}
			span {
				@include hide-text(left);
				@extend %fullBOX;
				display: none;
				opacity: 0.7;
				background-color: $m_green;
				z-index: 1;
			}
			p {
				position: absolute;
				bottom: 6em;
				margin-top: 60%;
				color: white;
				width: 100%;
				margin: 0% 10%;
				text-align: center;
				margin: 0;
				background: #093c2d;
				padding: 2% 16%;
				font-size: 130%;
			}
			.c_btn {
				@include border-radius(0);
				background: #093c2d;
				border: 1px solid white;
				color: white;
				position: absolute;
				bottom: 2em;
				left: 0%;
				right: 0%;
				margin-left: auto;
				margin-right: auto;	    
				width: 35%;
			}			
		}
	}
	.c_entradilla {
		padding: 4em 0 3em;
		p {
			margin: auto;
			max-width: 60%;
			text-align: center;
			font-size: 1.1em;
			strong { color: $m_green;}
		}
	}
}
.c_priProy {
	.c_priProyInt{
		background: white;
		&:first-child {
			padding-left: 0;
			.c_acciones { border-right: 1em solid white;}
		}
		&:nth-child(2) {
			padding-right: 0;
			h3 { left: 15px;}
			.c_inversion { border-left: 1em solid white;}
		}
		img { width: 100%;}
		h3 {
			font-weight: 400;
			position: absolute;
			left: 0;
			top: 1em;
			padding: 0.5em;
			color: white;
			background: rgba($m_green, 0.8);
		}
	}
	.col-xs-6 {
		position: absolute;
		bottom: 0;
		background: rgba($m_green, 0.8);
		padding: 1em;
		color: white;
		min-height: 7em;
	}
	.d-proyecto-action-wrapper{
		background: rgba($m_green, 0.8);
		.c_inversion { left: 0;}
		.c_acciones { 
			right: 0;
			text-align: right;
			p { text-align: right;}
			.btn { @extend %btn_inicial;}
			.c_action{
				position: absolute;
				bottom: 10px;
				right: 15px;
			}
		}
		.d_rent_disclaimer{
			font-size: 80%;
		}
		p{
			margin-bottom: 0px;
		}
	}
	.c_proyOtros {
		clear: both;
		margin-top: 2em;
		text-align: center;
		padding-top: 2em;
		padding-bottom: 1em;
		margin-bottom: 2em;
		border-bottom: 1px solid $m_gray_light;
	}
}
.c_carousel,
.c_proyAnex { 
	display: none;
	margin-top: 3em;
}
.c_find {
	.input-group-addon {
		background: white;
		color: $m_green;
		border: {
			top: none;
			left: none;
			bottom: none;
			right: 1px solid $m_green;
		}
	}
	input {
		border: none;
		padding: 1.5em 1em;
		font-weight: 100;
	}
}
.c_cifras {
	clear: both;
	background: #232627;
	padding: 5em 0;
	> .container { font-size: 0;}
	li {
		font-size: 1rem;
		text-align: center;
		border-left: 2px solid black;
		float: none;
		display: inline-block;
		vertical-align: middle;
		&:first-child { border: none;}
		@media (max-width: 600px) {
			border-left: none;
			border-top: 2px solid black;
			&:first-child { border-top: none;}
		}
		h4 {
			color: $m_orange;
			font-size: 5em;
			font-weight: 900;
			span { 
				display: block;
				font-size: 50%;
			}
			img{
				width: 40px;
				position: relative;
				top: -5px;
			}
		}
		p {
			font-size: 1.5em;
			color: white;
			font-weight: 100;
		}
	}
}

.c_dicen {
	margin-top: 4em;
	h3 {
		color: $m_green;
		text-align: center;
		margin-bottom: 2em;
		span {
			display: block;
			font-style: italic;
			font-weight: 300;
			font-size: 70%;
			margin-top: 0.5em;
		}
	}
	.c_post {
		img {
			@include border-radius(100%);
			width: 100%;
		}
		.c_postTEXT {
			h5 { color: $m_green;}
			p { color: $m_gray;}
		}
		.c_postTW {
			clear: both;
			color: $m_green;
			padding-top: 1em;
		}
	}
}

.c_aliados {
	margin-top: 4em;
	background: $m_gray_soft;
	padding: 4em 0;
	text-align: center;
	h5 {
		color: $m_gray;
		font-weight: 300;
		font-size: 2em;
		margin-bottom: 2em;
	}
	img{
		padding: 1% 6%;
	}
}


.c_footer {
	background: $m_green;
	color: white;
	padding-top: 2em;
	margin-top: -10em;
	.c_destacado {
		h2 {
			text-transform: uppercase;
			font-weight: 900;
		}
		.c_dato {
			font-style: italic;
			span { 
				font-style: normal;
				margin-right: 0.5em;
				font-size: 70%;
			}
			a{
				color: #fff;
			}
		}
	}
	.c_footInt {
		background: $m_green_dark;
		text-align: left;
		padding: 1em 0 0.5em;
		.c_copy {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
		}
	}
	.c_menuF {
		h5 {
			color: #fff;
			font-weight: 700;
			font-size: 1.2em;
			text-transform: uppercase;
		}
		a {
			color: white;
			.glyphicon { 
				font-size: 0.8em;
				top: 0;
				margin-right: 0.5em;
			}
		}
	}
}

.c_redes {
	.c_ico {
		@include hide-text(left);
		@extend %bg-basic;
		width: 1.5em;
		height: 1.5em;
		margin-left: 0.5em;
		display: inline-block;
		background-size: 90%;
		&:first-child { margin-left: 0;}
	}
	.c_fb { background-image: url(../svg/fb_white.svg);}
	.c_gp { background-image: url(../svg/gp_white.svg);}
	.c_tw { background-image: url(../svg/tw_white.svg);}
	.c_ins { background-image: url(../svg/ins_white.svg);}
}
.v-center {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	img{
		margin: 0 auto;
	}
}
.no-content{
	text-align: center;
	font-size: 90%;
}
.btn{
	padding: 10px 20px;
	font-size: 120%;
}

body{
	&.page-interna{
		header{
			background: #084c4a;
			border: none;
			border-radius: 0;
		}
		.account-form-wrapper{
			margin-bottom: 3%;
		}
		.c_footer{
			margin-top: 2%;
		}
	}
}
.mceEditor{
	> table{
		width: 100% !important;
	}
}

form{
	textarea{
		width: 100%;
	}
}

.carousel{
	.carousel-inner{
		.item{
			.carousel-caption{
				text-align: left;
				position: absolute;
				left: 10%;
				top: 20%;
				width: 30%;
				h3{
					color: #fff;
					font-size: 47px;
				}
				p{
					color: #fff;
					font-size: 18px;
				}
			}			
		}
	}
	.carousel-indicators{
		li{
			border-radius: 0;
			width: 40px;
			height: 2px;
			margin: 0;
			&.active{
				background-color: #0dd79c;
				border: 1px solid #0dd79c;
			}
		}
	}
}
.main-content{
	margin-top: 3%;
	padding-bottom: 3%;
	.filtros{
		padding-right: 15px;
		margin-bottom: 5%;
		h2{
			font-size: 24px;
			color: #1e2120;
			font-weight: bold;
			margin-top: 0;
		}
		.tipo-titulo{
			@include border-radius(10px);
			background: #fff;
			ul{
				li{				
					a{
						font-size: 16px;
						color: #123731;
						padding-left: 20px;
						line-height: 50px;
						border-bottom: solid 2px #f0f2f7;
						display: block;
						i{
							float: right;
							line-height: 50px;
							margin-right: 10%;
						}
					}
				}
			}
		}
	}
}
.buscar_form{
	#div_id_proyecto,
	#div_id_codigo{
		width: 44%;
	}
	.form-group{
		width: 10%;
		float: left;
		.btn-primary{
			height: 34px;
			line-height: 34px;
    		padding: 0px 20px;
		}
	}
}
.lista-derecho{
	.lista-derecho-item{
		position: relative;
		padding: 0px 5px;
		a.derecho-image{
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
		h3{
			color: white;
			padding: 0.5em;
			position: absolute;
			left: 5px;
			top: 1em;	
			font-weight: 400;	
			background: rgba($m_green, 0.8);	
		}
		>.row{
			background: #fff;
			margin: 0;
			padding-top: 2%;
			padding-bottom: 2%;
			margin-bottom: 4%;
			p{
				color: #10665c;
				font-size: 17px;
				margin-bottom: 2px;
				span.first{
					margin-right: 10%;
				}
			}
			.dis_rentabilidad{
				font-size: 70%;
			}
			.acciones{
				text-align: right;
				padding-right: 5%;
				button{
					margin-top: 3%;
					background: #10665c;
					color: #fff;
					font-size: 12px;
					text-transform: uppercase;
					padding: 5px 10px;
				}
			}
		}		
		&.item-full{
			h3{
				font-size: 24px;			
			}
		}	
		&.item-mid{
			h3{
				font-size: 16px;			
			}
			>.row{
				p, span, a {
					font-size: 14px;
				}
				.dis_rentabilidad{
					font-size: 10px;
				}
			}
		}	
		&.item-three{
			h3{
				font-size: 14px;			
			}
			>.row{
				p, span, a {
					font-size: 12px;
				}
				.dis_rentabilidad{
					font-size: 8px;
				}
				.acciones{
					button {
						font-size: 9px;
						padding: 3px 4px;
					}
				}
			}			
		}
	}
}
.no-padding{
	> div{
		padding: 0px;
	}
}

.page-form{
	background: #FFF;
	.form-page-content{
		background-image: url("../images/bg_venta.jpg");
		background-size: cover;
		padding-bottom: 2%;
		h1{
			text-align: center;
			color: rgba($m_green, 0.8);
			font-size: 60px;
			width: 50%;
			margin: 0 auto;
			margin-top: 3%;
		}
		h2{
			width: 50%;
			text-align: center;
			margin: 0 auto;
			margin-top: 2%;
			margin-bottom: 3%;
		}
		.field-terminos{
			margin-top: 2%;
			margin-bottom: 2%;
			text-align: center;
			a{
				text-decoration: underline;
				color: inherit;
				font-weight: bold;
			}
		}
		.form-actions,
		.controls{
			text-align: center;
			margin-bottom: 3%;
			a{
				margin-right: 2%;
			}
		}
	}
}
.btn.orange{
	background: $m_orange;
	color: #fff;	
	font-size: 120%;
}
.btn.btn-primary{
	@extend .btn.orange;
}
.alert{
	text-align: center;
	font-weight: bold;
}

@import 'francisco';