Se ha comprado el derecho:<br>

<br>ID del derecho: {{ derecho_id }}
<br>Nombre del derecho: {{ derecho_nombre }}
<br>Precio: {{ derecho_precio }}
<br>Precio mínimo: {{ derecho_precio_minimo }}
<br>Monto dividendo: {{ derecho_monto_dividendo }}
<br>Frecuencia pago: {{ derecho_frecuencia_pago }}
<br>Último rendimiento: {{ derecho_ultimo_rendimiento }}
<br>Negociable: {{ derecho_negociable }}
<br>Autor: {{ derecho_autor }}
<br>Fecha de creación: {{ derecho_fecha_creacion }}
<br>Estado: {{ derecho_estado }}

<br><br>Datos de proyecto:<br>

<br>Nombre: {{ derecho_proyecto_nombre }}
{% for tipo in tipos %}
	<br>Tipo: {{ tipo }}
{% endfor %}
<br>Marca: {{ derecho_proyecto_marca }}
<br>Precio: {{ derecho_proyecto_precio }}
<br>Rendimiento: {{ derecho_proyecto_rendimiento }}
<br>Estado comercial: {{ derecho_proyecto_estado_comercial }}
<br>Estado: {{ derecho_proyecto_estado }}
<br>Fiduciaria: {{ derecho_proyecto_fiduciaria }}

<br><br>Datos del comprador:<br>

<br>Usuario: {{ comprador_username }}
<br>Nombre: {{ comprador_first_name }}
<br>Apellido: {{ comprador_last_name }}
<br>Teléfono: {{ comprador_telefono }}
<br>Ciudad: {{ comprador_ciudad }}
<br>Correo: {{ comprador_email }}

<br><br>Datos del vendedor:<br>

<br>Usuario: {{ vendedor_username }}
<br>Nombre: {{ vendedor_first_name }}
<br>Apellido: {{ vendedor_last_name }}
<br>Teléfono: {{ vendedor_telefono }}
<br>Ciudad: {{ vendedor_ciudad }}
<br>Correo: {{ vendedor_email }}
