{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Confirm E-mail Address" %}</h2>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma que <a href="mailto:{{ email }}">{{ email }}</a> es una dirección de correo electrónico del usuario {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
            <button id="confirm-button" class="submit" type="submit">{% trans 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}Este link de confirmación de correo electrónico ha expirado. por favor <a href="{{ email_url }}">Solcita un nuevo link de confirmación</a>.{% endblocktrans %}</p>

        {% endif %}
    </div>
  </div>
</div>
    {% include "partials/cifras.html" %}
    {% lista_testimonios %}
{% endblock %}

