{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Confirm E-mail Address" %}</h2>

        {% user_display email_address.user as user_display %}
                
        <p>{% blocktrans with email_address.email as email %}Has confirmado que <a href="mailto:{{ email }}">{{ email }}</a> es un correo electrónico del usuario {{ user_display }}.{% endblocktrans %}</p>
    </div>
  </div>
</div>
	{% include "partials/cifras.html" %}
    {% lista_testimonios %}
{% endblock %}
