{% extends "base/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load testimonios_tags %}
{% block title %}{% trans "Sign In" %} - Mercatitulo{% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
  <div class="container account-form-wrapper">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>Si aún no tienes una cuenta, <a href="{{ signup_url }}">por favor regístrate en este enlace</a></p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>    
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}

