{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

        <h2>{% trans "Sign Out" %}</h2>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
  </div>
</div>
    {% include "partials/cifras.html" %}
    {% lista_testimonios %}
{% endblock %}

