{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Change Password" %}</h2>
        <form method="POST" action="./" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
  </div>
</div>
    {% include "partials/cifras.html" %}
    {% lista_testimonios %}
{% endblock %}

