{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h2>{% if token_fail %}{% trans "Hay un problema con el token" %}{% else %}{% trans "Cambiar la contraseña" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El enlace para restablecer la contraseña es inválido, probablemente porque ya ha sido utilizado.  Por favor solicita <a href="{{ passwd_reset_url }}">restablecer la contraseña nuevamente</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="./">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="action">{% trans "change password" %}</button>
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña ha sido modificada.' %}</p>
        {% endif %}
    {% endif %}
    </div>
  </div>
</div>
    {% include "partials/cifras.html" %}
    {% lista_testimonios %}
{% endblock %}

