{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Password Reset" %}</h2>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% blocktrans %}Te hemos enviado un correo electrónico. Por favor contáctanos si no lo recibes el correo en unos minutos.{% endblocktrans %}</p>
    </div>
  </div>    
</div>
	{% include "partials/cifras.html" %}
    {% lista_testimonios %}   
{% endblock %}
