{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load account %}

{% block title %}{% trans "Password Reset" %} - Mercatitulo{% endblock %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container account-form-wrapper">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>¿Has olvidado tu contraseña?, ingresa tu correo electrónico y te enviaremos un correo que te permita cambiarla</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <p>Si tienes alguna dificultad para restablecer tu contraseña, por favor contáctanos.</p>
    </div>

    {% include "partials/cifras.html" %}
    {% lista_testimonios %}    
    
{% endblock %}