{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans 'Contraseña modificada' %}</h2>
        <p>{% trans 'Tu contraseña ha sido modificada.' %}</p>
    </div>
  </div>
</div>
	{% include "partials/cifras.html" %}
	{% lista_testimonios %}
{% endblock %}

