{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Sign Up Closed" %}</h2>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
  </div>
</div>
	{% include "partials/cifras.html" %}
	{% lista_testimonios %}
{% endblock %}

