{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Signup" %} - Mercatitulo{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
	<div class="container account-form-wrapper">
		<h1>{% trans "Sign Up" %}</h1>

		<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		  {% csrf_token %}
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.nombre|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.apellido|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.telefono|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.email|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.ciudad|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.username|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.password1|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.password2|as_crispy_field }}
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			  	{{ form.captcha|as_crispy_field }}
			  </div>
		  </div>

		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}

		  <p>
		  	<input type="checkbox" checked required />
			Acepto los <a href="#" data-toggle="modal" data-target="#modal_signup">términos y condiciones</a>
		  </p>

		  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
		</form>
	</div>

	<!-- Modal -->
	<div id="modal_signup" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Términos y condiciones</h4>
	      </div>
	      <div class="modal-body">
	        {% include "partials/terminos_signup.html" %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>

	  </div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}