{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Verify Your E-mail Address" %}</h2>
        
        <p>Hemos enviado un correo electrónico para verificar tu email. Sigue el link enviado para finalizar proceso de registro. Por favor contáctanos si no recibes el correo electrónico en unos minutos.</p>

        <p>No olvides revisar la carpeta de spam</p>
        <a href="{% url 'contacto' %}" class="btn btn-warning">Contáctanos</a>
    </div>    
  </div>
</div>
	{% include "partials/cifras.html" %}
	{% lista_testimonios %}
{% endblock %}
