/*desarrollador por Cristia Hernandez 2015*/
/*=======colors=======*/
/*=======colors-end=======*/
/*=======fonts=======*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/*=======fonts-end=======*/
/*=======BorderRadius=======*/
/*=======BorderRadius-end=======*/
/*=======Media=======*/
@media only screen and (max-width: 1045px) {
  /* line 53, ../sass/style.scss */
  body .c_par_static {
    overflow: hidden;
  }
  /* line 55, ../sass/style.scss */
  body .c_par_static img {
    width: 200%;
  }
}
@media only screen and (max-width: 820px) {
  /* line 62, ../sass/style.scss */
  body .c_fullHome {
    width: 100%;
  }
  /* line 64, ../sass/style.scss */
  body .c_fullHome .c_seccCont {
    width: 100%;
  }
}
/*=======Media-end=======*/
/*=======Artefactos=======*/
/* line 75, ../sass/style.scss */
.c_cerrar, .c_redes .c_ico {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 100%;
}

/* line 91, ../sass/style.scss */
.c_cerrar {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  display: block;
}

/* line 105, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_acciones .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  background: #f55f0a;
  padding: 0.5em 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 114, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_acciones .btn:hover {
  background-color: #093c2d;
}

/* line 121, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Pseudo-clase */
/*=======Genericos=======*/
/* line 135, ../sass/style.scss */
body {
  position: relative;
  background: #efefef;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
/* line 143, ../sass/style.scss */
body ol,
body nav,
body ul {
  margin: 0;
  padding: 0;
}
/* line 148, ../sass/style.scss */
body ol li,
body nav li,
body ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 154, ../sass/style.scss */
body a, body a:link {
  text-decoration: none;
  cursor: pointer;
}

/* line 160, ../sass/style.scss */
.c_cerrar {
  position: absolute;
  width: 2em;
  height: 2em;
  background-image: url(../svg/ico_close.svg);
  z-index: 2;
  top: 1em;
  right: 1em;
}

/* line 174, ../sass/style.scss */
.c_menu {
  z-index: 2;
}
/* line 176, ../sass/style.scss */
.c_menu .navbar-nav {
  float: right;
}
/* line 178, ../sass/style.scss */
.c_menu .navbar-nav li {
  width: 10em;
}
/* line 180, ../sass/style.scss */
.c_menu .navbar-nav li a {
  color: white;
  padding: 10px;
  text-align: right;
  word-wrap: break-word;
}
/* line 187, ../sass/style.scss */
.c_menu .navbar-nav li:hover a {
  color: #000;
}
/* line 191, ../sass/style.scss */
.c_menu .navbar-brand {
  height: auto;
}
/* line 192, ../sass/style.scss */
.c_menu #user_navbar {
  margin-bottom: 1%;
}
/* line 196, ../sass/style.scss */
.c_menu #user_navbar .navbar-nav li a {
  padding-bottom: 0px;
}
/* line 198, ../sass/style.scss */
.c_menu #user_navbar .navbar-nav li a:hover {
  background: none;
  color: #fff;
  text-decoration: underline;
}

/* line 211, ../sass/style.scss */
.c_fullHome {
  position: relative;
  top: -10em;
  z-index: 1;
}

/* line 216, ../sass/style.scss */
.c_bannerInitial {
  position: relative;
}
/* line 218, ../sass/style.scss */
.c_bannerInitial img {
  width: 100%;
}
/* line 219, ../sass/style.scss */
.c_bannerInitial h1 {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  color: white;
  font-size: 35px;
}

/* line 228, ../sass/style.scss */
.c_prinAction {
  position: relative;
  z-index: 2;
  background: white;
}
/* line 232, ../sass/style.scss */
.c_prinAction .col-md-6 {
  margin-top: -10em;
  padding: 0;
}
/* line 235, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna {
  margin: 0px 15px;
  position: relative;
}
/* line 238, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna .d-icon {
  width: 150px;
  height: 150px;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}
/* line 252, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna .d-icon img {
  width: 85px;
}
/* line 256, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna img {
  width: 100%;
}
/* line 257, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: none;
  opacity: 0.7;
  background-color: #093c2d;
  z-index: 1;
}
/* line 265, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna p {
  position: absolute;
  bottom: 6em;
  margin-top: 60%;
  color: white;
  width: 100%;
  margin: 0% 10%;
  text-align: center;
  margin: 0;
  background: #093c2d;
  padding: 2% 16%;
  font-size: 130%;
}
/* line 278, ../sass/style.scss */
.c_prinAction .col-md-6 .action-interna .c_btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #093c2d;
  border: 1px solid white;
  color: white;
  position: absolute;
  bottom: 2em;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
/* line 293, ../sass/style.scss */
.c_prinAction .c_entradilla {
  padding: 4em 0 3em;
}
/* line 295, ../sass/style.scss */
.c_prinAction .c_entradilla p {
  margin: auto;
  max-width: 60%;
  text-align: center;
  font-size: 1.1em;
}
/* line 300, ../sass/style.scss */
.c_prinAction .c_entradilla p strong {
  color: #093c2d;
}

/* line 305, ../sass/style.scss */
.c_priProy .c_priProyInt {
  background: white;
}
/* line 307, ../sass/style.scss */
.c_priProy .c_priProyInt:first-child {
  padding-left: 0;
}
/* line 309, ../sass/style.scss */
.c_priProy .c_priProyInt:first-child .c_acciones {
  border-right: 1em solid white;
}
/* line 311, ../sass/style.scss */
.c_priProy .c_priProyInt:nth-child(2) {
  padding-right: 0;
}
/* line 313, ../sass/style.scss */
.c_priProy .c_priProyInt:nth-child(2) h3 {
  left: 15px;
}
/* line 314, ../sass/style.scss */
.c_priProy .c_priProyInt:nth-child(2) .c_inversion {
  border-left: 1em solid white;
}
/* line 316, ../sass/style.scss */
.c_priProy .c_priProyInt img {
  width: 100%;
}
/* line 317, ../sass/style.scss */
.c_priProy .c_priProyInt h3 {
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 1em;
  padding: 0.5em;
  color: white;
  background: rgba(9, 60, 45, 0.8);
}
/* line 327, ../sass/style.scss */
.c_priProy .col-xs-6 {
  position: absolute;
  bottom: 0;
  background: rgba(9, 60, 45, 0.8);
  padding: 1em;
  color: white;
  min-height: 7em;
}
/* line 335, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper {
  background: rgba(9, 60, 45, 0.8);
}
/* line 337, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_inversion {
  left: 0;
}
/* line 338, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_acciones {
  right: 0;
  text-align: right;
}
/* line 341, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_acciones p {
  text-align: right;
}
/* line 343, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .c_acciones .c_action {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
/* line 349, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper .d_rent_disclaimer {
  font-size: 80%;
}
/* line 352, ../sass/style.scss */
.c_priProy .d-proyecto-action-wrapper p {
  margin-bottom: 0px;
}
/* line 356, ../sass/style.scss */
.c_priProy .c_proyOtros {
  clear: both;
  margin-top: 2em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #DDDDDD;
}

/* line 366, ../sass/style.scss */
.c_carousel,
.c_proyAnex {
  display: none;
  margin-top: 3em;
}

/* line 372, ../sass/style.scss */
.c_find .input-group-addon {
  background: white;
  color: #093c2d;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #093c2d;
}
/* line 382, ../sass/style.scss */
.c_find input {
  border: none;
  padding: 1.5em 1em;
  font-weight: 100;
}

/* line 388, ../sass/style.scss */
.c_cifras {
  clear: both;
  background: #232627;
  padding: 5em 0;
}
/* line 392, ../sass/style.scss */
.c_cifras > .container {
  font-size: 0;
}
/* line 393, ../sass/style.scss */
.c_cifras li {
  font-size: 1rem;
  text-align: center;
  border-left: 2px solid black;
  float: none;
  display: inline-block;
  vertical-align: middle;
}
/* line 400, ../sass/style.scss */
.c_cifras li:first-child {
  border: none;
}
@media (max-width: 600px) {
  /* line 393, ../sass/style.scss */
  .c_cifras li {
    border-left: none;
    border-top: 2px solid black;
  }
  /* line 404, ../sass/style.scss */
  .c_cifras li:first-child {
    border-top: none;
  }
}
/* line 406, ../sass/style.scss */
.c_cifras li h4 {
  color: #f55f0a;
  font-size: 5em;
  font-weight: 900;
}
/* line 410, ../sass/style.scss */
.c_cifras li h4 span {
  display: block;
  font-size: 50%;
}
/* line 414, ../sass/style.scss */
.c_cifras li h4 img {
  width: 40px;
  position: relative;
  top: -5px;
}
/* line 420, ../sass/style.scss */
.c_cifras li p {
  font-size: 1.5em;
  color: white;
  font-weight: 100;
}

/* line 428, ../sass/style.scss */
.c_dicen {
  margin-top: 4em;
}
/* line 430, ../sass/style.scss */
.c_dicen h3 {
  color: #093c2d;
  text-align: center;
  margin-bottom: 2em;
}
/* line 434, ../sass/style.scss */
.c_dicen h3 span {
  display: block;
  font-style: italic;
  font-weight: 300;
  font-size: 70%;
  margin-top: 0.5em;
}
/* line 443, ../sass/style.scss */
.c_dicen .c_post img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
}
/* line 448, ../sass/style.scss */
.c_dicen .c_post .c_postTEXT h5 {
  color: #093c2d;
}
/* line 449, ../sass/style.scss */
.c_dicen .c_post .c_postTEXT p {
  color: #666666;
}
/* line 451, ../sass/style.scss */
.c_dicen .c_post .c_postTW {
  clear: both;
  color: #093c2d;
  padding-top: 1em;
}

/* line 459, ../sass/style.scss */
.c_aliados {
  margin-top: 4em;
  background: #f9f9f9;
  padding: 4em 0;
  text-align: center;
}
/* line 464, ../sass/style.scss */
.c_aliados h5 {
  color: #666666;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 2em;
}
/* line 470, ../sass/style.scss */
.c_aliados img {
  padding: 1% 6%;
}

/* line 476, ../sass/style.scss */
.c_footer {
  background: #093c2d;
  color: white;
  padding-top: 2em;
  margin-top: -10em;
}
/* line 482, ../sass/style.scss */
.c_footer .c_destacado h2 {
  text-transform: uppercase;
  font-weight: 900;
}
/* line 486, ../sass/style.scss */
.c_footer .c_destacado .c_dato {
  font-style: italic;
}
/* line 488, ../sass/style.scss */
.c_footer .c_destacado .c_dato span {
  font-style: normal;
  margin-right: 0.5em;
  font-size: 70%;
}
/* line 493, ../sass/style.scss */
.c_footer .c_destacado .c_dato a {
  color: #fff;
}
/* line 498, ../sass/style.scss */
.c_footer .c_footInt {
  background: #083628;
  text-align: left;
  padding: 1em 0 0.5em;
}
/* line 502, ../sass/style.scss */
.c_footer .c_footInt .c_copy {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
/* line 509, ../sass/style.scss */
.c_footer .c_menuF h5 {
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 515, ../sass/style.scss */
.c_footer .c_menuF a {
  color: white;
}
/* line 517, ../sass/style.scss */
.c_footer .c_menuF a .glyphicon {
  font-size: 0.8em;
  top: 0;
  margin-right: 0.5em;
}

/* line 527, ../sass/style.scss */
.c_redes .c_ico {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  display: inline-block;
  background-size: 90%;
}
/* line 535, ../sass/style.scss */
.c_redes .c_ico:first-child {
  margin-left: 0;
}
/* line 537, ../sass/style.scss */
.c_redes .c_fb {
  background-image: url(../svg/fb_white.svg);
}
/* line 538, ../sass/style.scss */
.c_redes .c_gp {
  background-image: url(../svg/gp_white.svg);
}
/* line 539, ../sass/style.scss */
.c_redes .c_tw {
  background-image: url(../svg/tw_white.svg);
}
/* line 540, ../sass/style.scss */
.c_redes .c_ins {
  background-image: url(../svg/ins_white.svg);
}

/* line 542, ../sass/style.scss */
.v-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/* line 552, ../sass/style.scss */
.v-center img {
  margin: 0 auto;
}

/* line 556, ../sass/style.scss */
.no-content {
  text-align: center;
  font-size: 90%;
}

/* line 560, ../sass/style.scss */
.btn {
  padding: 10px 20px;
  font-size: 120%;
}

/* line 567, ../sass/style.scss */
body.page-interna header {
  background: #084c4a;
  border: none;
  border-radius: 0;
}
/* line 572, ../sass/style.scss */
body.page-interna .account-form-wrapper {
  margin-bottom: 3%;
}
/* line 575, ../sass/style.scss */
body.page-interna .c_footer {
  margin-top: 2%;
}

/* line 581, ../sass/style.scss */
.mceEditor > table {
  width: 100% !important;
}

/* line 587, ../sass/style.scss */
form textarea {
  width: 100%;
}

/* line 595, ../sass/style.scss */
.carousel .carousel-inner .item .carousel-caption {
  text-align: left;
  position: absolute;
  left: 10%;
  top: 20%;
  width: 30%;
}
/* line 601, ../sass/style.scss */
.carousel .carousel-inner .item .carousel-caption h3 {
  color: #fff;
  font-size: 47px;
}
/* line 605, ../sass/style.scss */
.carousel .carousel-inner .item .carousel-caption p {
  color: #fff;
  font-size: 18px;
}
/* line 613, ../sass/style.scss */
.carousel .carousel-indicators li {
  border-radius: 0;
  width: 40px;
  height: 2px;
  margin: 0;
}
/* line 618, ../sass/style.scss */
.carousel .carousel-indicators li.active {
  background-color: #0dd79c;
  border: 1px solid #0dd79c;
}

/* line 625, ../sass/style.scss */
.main-content {
  margin-top: 3%;
  padding-bottom: 3%;
}
/* line 628, ../sass/style.scss */
.main-content .filtros {
  padding-right: 15px;
  margin-bottom: 5%;
}
/* line 631, ../sass/style.scss */
.main-content .filtros h2 {
  font-size: 24px;
  color: #1e2120;
  font-weight: bold;
  margin-top: 0;
}
/* line 637, ../sass/style.scss */
.main-content .filtros .tipo-titulo {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
/* line 642, ../sass/style.scss */
.main-content .filtros .tipo-titulo ul li a {
  font-size: 16px;
  color: #123731;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: solid 2px #f0f2f7;
  display: block;
}
/* line 649, ../sass/style.scss */
.main-content .filtros .tipo-titulo ul li a i {
  float: right;
  line-height: 50px;
  margin-right: 10%;
}

/* line 661, ../sass/style.scss */
.buscar_form #div_id_proyecto,
.buscar_form #div_id_codigo {
  width: 44%;
}
/* line 665, ../sass/style.scss */
.buscar_form .form-group {
  width: 10%;
  float: left;
}
/* line 668, ../sass/style.scss */
.buscar_form .form-group .btn-primary {
  height: 34px;
  line-height: 34px;
  padding: 0px 20px;
}

/* line 676, ../sass/style.scss */
.lista-derecho .lista-derecho-item {
  position: relative;
  padding: 0px 5px;
}
/* line 680, ../sass/style.scss */
.lista-derecho .lista-derecho-item a.derecho-image img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 686, ../sass/style.scss */
.lista-derecho .lista-derecho-item h3 {
  color: white;
  padding: 0.5em;
  position: absolute;
  left: 5px;
  top: 1em;
  font-weight: 400;
  background: rgba(9, 60, 45, 0.8);
}
/* line 695, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row {
  background: #fff;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 4%;
}
/* line 701, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row p {
  color: #10665c;
  font-size: 17px;
  margin-bottom: 2px;
}
/* line 705, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row p span.first {
  margin-right: 10%;
}
/* line 709, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row .dis_rentabilidad {
  font-size: 70%;
}
/* line 712, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row .acciones {
  text-align: right;
  padding-right: 5%;
}
/* line 715, ../sass/style.scss */
.lista-derecho .lista-derecho-item > .row .acciones button {
  margin-top: 3%;
  background: #10665c;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
}
/* line 726, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-full h3 {
  font-size: 24px;
}
/* line 731, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-mid h3 {
  font-size: 16px;
}
/* line 735, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-mid > .row p, .lista-derecho .lista-derecho-item.item-mid > .row span, .lista-derecho .lista-derecho-item.item-mid > .row a {
  font-size: 14px;
}
/* line 738, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-mid > .row .dis_rentabilidad {
  font-size: 10px;
}
/* line 744, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-three h3 {
  font-size: 14px;
}
/* line 748, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-three > .row p, .lista-derecho .lista-derecho-item.item-three > .row span, .lista-derecho .lista-derecho-item.item-three > .row a {
  font-size: 12px;
}
/* line 751, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-three > .row .dis_rentabilidad {
  font-size: 8px;
}
/* line 755, ../sass/style.scss */
.lista-derecho .lista-derecho-item.item-three > .row .acciones button {
  font-size: 9px;
  padding: 3px 4px;
}

/* line 765, ../sass/style.scss */
.no-padding > div {
  padding: 0px;
}

/* line 770, ../sass/style.scss */
.page-form {
  background: #FFF;
}
/* line 772, ../sass/style.scss */
.page-form .form-page-content {
  background-image: url("../images/bg_venta.jpg");
  background-size: cover;
  padding-bottom: 2%;
}
/* line 776, ../sass/style.scss */
.page-form .form-page-content h1 {
  text-align: center;
  color: rgba(9, 60, 45, 0.8);
  font-size: 60px;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}
/* line 784, ../sass/style.scss */
.page-form .form-page-content h2 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 3%;
}
/* line 791, ../sass/style.scss */
.page-form .form-page-content .field-terminos {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
/* line 795, ../sass/style.scss */
.page-form .form-page-content .field-terminos a {
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
}
/* line 801, ../sass/style.scss */
.page-form .form-page-content .form-actions,
.page-form .form-page-content .controls {
  text-align: center;
  margin-bottom: 3%;
}
/* line 805, ../sass/style.scss */
.page-form .form-page-content .form-actions a,
.page-form .form-page-content .controls a {
  margin-right: 2%;
}

/* line 811, ../sass/style.scss */
.btn.orange, .btn.btn-primary {
  background: #f55f0a;
  color: #fff;
  font-size: 120%;
}

/* line 819, ../sass/style.scss */
.alert {
  text-align: center;
  font-weight: bold;
}

/* line 10, ../sass/_francisco.scss */
.detalle-derechos .negociable:before, .detalle-derechos .negociable:after, .detalle-derechos .botones_wrapper:after {
  content: "";
  position: absolute;
  left: 8%;
  width: 65%;
  border-bottom: 1px solid #DDDDDD;
}

/* line 18, ../sass/_francisco.scss */
.proyectos_mercado, .micuenta .contenido .proyectos, .micuenta .contenido .derechos {
  padding-bottom: 1em;
}
/* line 20, ../sass/_francisco.scss */
.proyectos_mercado h3, .micuenta .contenido .proyectos h3, .micuenta .contenido .derechos h3 {
  text-align: center;
}
/* line 23, ../sass/_francisco.scss */
.proyectos_mercado h2, .micuenta .contenido .proyectos h2, .micuenta .contenido .derechos h2 {
  position: absolute;
  text-align: center;
  color: white;
  top: 0.5em;
  padding: 0.5em;
  background: rgba(9, 60, 45, 0.8);
}
/* line 31, ../sass/_francisco.scss */
.proyectos_mercado img, .micuenta .contenido .proyectos img, .micuenta .contenido .derechos img {
  width: 100%;
}
/* line 34, ../sass/_francisco.scss */
.proyectos_mercado .datos, .micuenta .contenido .proyectos .datos, .micuenta .contenido .derechos .datos {
  background: rgba(9, 60, 45, 0.8);
  color: white;
  bottom: 0;
  padding: 0.5em;
}
/* line 39, ../sass/_francisco.scss */
.proyectos_mercado .datos .acciones, .micuenta .contenido .proyectos .datos .acciones, .micuenta .contenido .derechos .datos .acciones {
  position: absolute;
  right: 0;
  bottom: 1em;
  padding-right: 5%;
}
/* line 44, ../sass/_francisco.scss */
.proyectos_mercado .datos .acciones button, .micuenta .contenido .proyectos .datos .acciones button, .micuenta .contenido .derechos .datos .acciones button {
  color: white;
  text-transform: uppercase;
  padding: 0.5em 2em;
  margin-right: 0.2em;
}
/* line 52, ../sass/_francisco.scss */
.proyectos_mercado .descripcion, .micuenta .contenido .proyectos .descripcion, .micuenta .contenido .derechos .descripcion {
  text-align: justify;
}
/* line 54, ../sass/_francisco.scss */
.proyectos_mercado .descripcion h4, .micuenta .contenido .proyectos .descripcion h4, .micuenta .contenido .derechos .descripcion h4 {
  background: #093c2d;
  color: white;
  padding: 0.3em;
  margin: 1em 0 0 0;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
}
/* line 63, ../sass/_francisco.scss */
.proyectos_mercado .descripcion p, .micuenta .contenido .proyectos .descripcion p, .micuenta .contenido .derechos .descripcion p {
  border: 1px solid gray;
  border-radius: 0 10px 10px 10px;
  padding: 1em;
}

/* line 71, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper .boton, .detalle-derechos .botones_wrapper .boton_blank {
  padding: 0.2em 2em 0.2em 2em;
  margin-left: 3em;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 2px;
}
/* line 72, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper .boton:hover, .detalle-derechos .botones_wrapper .boton_blank:hover {
  background: #ec600b;
}

/* line 85, ../sass/_francisco.scss */
.confirmar-compra table, .compra_confirmada table, .ofertas table {
  width: 100%;
}
/* line 87, ../sass/_francisco.scss */
.confirmar-compra table th, .compra_confirmada table th, .ofertas table th {
  background: #424242;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 0 1em;
}
/* line 95, ../sass/_francisco.scss */
.confirmar-compra table td, .compra_confirmada table td, .ofertas table td {
  background: white;
  text-align: center;
}

/* line 103, ../sass/_francisco.scss */
.confirmar-compra h1, .compra_confirmada h1 {
  text-align: center;
}
/* line 106, ../sass/_francisco.scss */
.confirmar-compra div, .compra_confirmada div {
  padding: 0.5em 0;
}
/* line 110, ../sass/_francisco.scss */
.confirmar-compra .center, .compra_confirmada .center {
  text-align: center;
}

/* line 116, ../sass/_francisco.scss */
.contacto h1 {
  text-align: center;
}

/* line 122, ../sass/_francisco.scss */
.ofertas h1 {
  text-align: center;
}
/* line 125, ../sass/_francisco.scss */
.ofertas .center {
  text-align: center;
}

/* line 131, ../sass/_francisco.scss */
.confirmaciones h1 {
  text-align: center;
}
/* line 134, ../sass/_francisco.scss */
.confirmaciones div {
  padding: 1em 0;
}
/* line 137, ../sass/_francisco.scss */
.confirmaciones p {
  text-align: justify;
}
/* line 140, ../sass/_francisco.scss */
.confirmaciones .center {
  text-align: center;
}

/* line 145, ../sass/_francisco.scss */
.botones_centro {
  padding: 1em;
  margin-right: 0.5em;
  text-align: center;
}

/* line 151, ../sass/_francisco.scss */
.contrasenha {
  padding: 1em;
}
/* line 153, ../sass/_francisco.scss */
.contrasenha .centro, .contrasenha h1 {
  text-align: center;
}

/* line 160, ../sass/_francisco.scss */
.proyectos_mercado div {
  padding-top: 0.5em;
}
/* line 163, ../sass/_francisco.scss */
.proyectos_mercado h2 {
  padding-top: 0.5em;
  background: rgba(9, 60, 45, 0.8);
}
/* line 167, ../sass/_francisco.scss */
.proyectos_mercado .datos {
  background: rgba(9, 60, 45, 0.8);
}
/* line 170, ../sass/_francisco.scss */
.proyectos_mercado .datos .acciones button {
  background: #f55f0a;
}
/* line 176, ../sass/_francisco.scss */
.proyectos_mercado .descripcion h4 {
  background: #093c2d;
}

/* line 181, ../sass/_francisco.scss */
.micuenta {
  margin-top: 3%;
  padding-bottom: 3%;
}
/* line 186, ../sass/_francisco.scss */
.micuenta .contenido .form_cuenta h3 {
  text-align: center;
  padding-bottom: 0.3em;
}
/* line 193, ../sass/_francisco.scss */
.micuenta .contenido .proyectos div, .micuenta .contenido .derechos div {
  padding-top: 0.5em;
}
/* line 196, ../sass/_francisco.scss */
.micuenta .contenido .proyectos h2, .micuenta .contenido .derechos h2 {
  padding-top: 0.5em;
  background: rgba(9, 60, 45, 0.8);
}
/* line 200, ../sass/_francisco.scss */
.micuenta .contenido .proyectos .datos, .micuenta .contenido .derechos .datos {
  background: rgba(9, 60, 45, 0.8);
}
/* line 203, ../sass/_francisco.scss */
.micuenta .contenido .proyectos .datos .acciones button, .micuenta .contenido .derechos .datos .acciones button {
  background: #f55f0a;
}
/* line 209, ../sass/_francisco.scss */
.micuenta .contenido .proyectos .descripcion h4, .micuenta .contenido .derechos .descripcion h4 {
  background: #093c2d;
}
/* line 215, ../sass/_francisco.scss */
.micuenta .contenido .transacciones h3 {
  text-align: center;
}
/* line 218, ../sass/_francisco.scss */
.micuenta .contenido .transacciones table {
  width: 100%;
}
/* line 220, ../sass/_francisco.scss */
.micuenta .contenido .transacciones table th {
  text-align: center;
  text-transform: uppercase;
  background: gray;
  color: white;
  border: 1px solid white;
}
/* line 227, ../sass/_francisco.scss */
.micuenta .contenido .transacciones table td {
  padding: 0.5em;
  background: white;
}
/* line 234, ../sass/_francisco.scss */
.micuenta .opciones {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
/* line 239, ../sass/_francisco.scss */
.micuenta .opciones ul li a {
  font-size: 16px;
  color: #123731;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: solid 2px #f0f2f7;
  display: block;
}
/* line 246, ../sass/_francisco.scss */
.micuenta .opciones ul li a i {
  float: right;
  line-height: 50px;
  margin-right: 10%;
}

/* line 258, ../sass/_francisco.scss */
#modal_derechos_descripcion p {
  text-align: justify;
}

/* line 264, ../sass/_francisco.scss */
.df_mercado_desc_full span, .df_mercado_desc_full a, .df_mercado_desc_mid span, .df_mercado_desc_mid a, .df_mercado_desc_last span, .df_mercado_desc_last a {
  color: #10665c;
  text-decoration: none;
}
/* line 268, ../sass/_francisco.scss */
.df_mercado_desc_full a:hover, .df_mercado_desc_mid a:hover, .df_mercado_desc_last a:hover {
  color: blue;
}

/* line 273, ../sass/_francisco.scss */
.proceso_compra {
  background: #d7d7d7;
  width: 100%;
  padding-left: 7em;
}
/* line 277, ../sass/_francisco.scss */
.proceso_compra h2 {
  padding: 0.5em;
  color: white;
  background: #093c2d;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  width: 21%;
}
/* line 286, ../sass/_francisco.scss */
.proceso_compra p {
  padding: 1em;
  margin-top: -10px;
  text-align: justify;
  border: 1px solid gray;
  width: 90%;
}

/* line 297, ../sass/_francisco.scss */
.confirmar-compra form {
  text-align: center;
}

/* line 304, ../sass/_francisco.scss */
.compra_confirmada p {
  text-align: justify;
}

/* line 309, ../sass/_francisco.scss */
.detalle-derechos {
  padding: 3em 0 0 0;
  margin-bottom: 2em;
}
/* line 312, ../sass/_francisco.scss */
.detalle-derechos p {
  font-family: verdana;
  color: #424242;
}
/* line 316, ../sass/_francisco.scss */
.detalle-derechos .descripcion {
  margin-top: 0.5em;
  padding-top: 0.5em;
}
/* line 319, ../sass/_francisco.scss */
.detalle-derechos .descripcion h3 {
  padding: 0.5em;
  color: white;
  background: #093c2d;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  width: 26%;
}
/* line 328, ../sass/_francisco.scss */
.detalle-derechos .descripcion p {
  padding: 1em;
  margin-top: -10px;
  text-align: justify;
  border: 1px solid gray;
  width: 97%;
}
/* line 336, ../sass/_francisco.scss */
.detalle-derechos .label_partial {
  color: #43706a;
  font-size: 15px;
}
/* line 340, ../sass/_francisco.scss */
.detalle-derechos .proyecto_name {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 22px;
}
/* line 345, ../sass/_francisco.scss */
.detalle-derechos .detalle {
  padding: 1em 0 0 1.5em;
}
/* line 349, ../sass/_francisco.scss */
.detalle-derechos .tipos p {
  text-transform: capitalize;
  font-size: 20px;
}
/* line 354, ../sass/_francisco.scss */
.detalle-derechos .derecho-nombre {
  margin-bottom: 1em;
}
/* line 356, ../sass/_francisco.scss */
.detalle-derechos .derecho-nombre p {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 22px;
}
/* line 363, ../sass/_francisco.scss */
.detalle-derechos .inversion p {
  font-size: 13px;
  margin-bottom: 0;
}
/* line 369, ../sass/_francisco.scss */
.detalle-derechos .precio p {
  font-size: 20px;
  font-style: italic;
}
/* line 375, ../sass/_francisco.scss */
.detalle-derechos .marca p {
  color: #43706a;
  font-size: 15px;
}
/* line 380, ../sass/_francisco.scss */
.detalle-derechos .negociable {
  margin: 1em 0 0 0;
  padding: 1em 0 1em 0;
}
/* line 383, ../sass/_francisco.scss */
.detalle-derechos .negociable:before {
  top: 0;
}
/* line 387, ../sass/_francisco.scss */
.detalle-derechos .negociable:after {
  bottom: 0;
}
/* line 391, ../sass/_francisco.scss */
.detalle-derechos .negociable p {
  color: #43706a;
  font-size: 16px;
  padding-top: 0.6em;
}
/* line 397, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper {
  padding: 0.5em 10em 0.5em 3em;
}
/* line 399, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper:after {
  bottom: 0;
}
/* line 403, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper .boton {
  background: #ef7d38;
}
/* line 407, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper .boton_blank {
  color: #424242;
  background: white;
  border: 1px solid #DDDDDD;
}
/* line 409, ../sass/_francisco.scss */
.detalle-derechos .botones_wrapper .boton_blank:hover {
  background: white;
  border: 1px solid blue;
}

/* line 420, ../sass/_francisco.scss */
.confirmacion {
  padding-left: 15%;
  background: white;
  font-weight: 400;
}
/* line 424, ../sass/_francisco.scss */
.confirmacion .datos {
  background: rgba(245, 95, 10, 0.8);
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  left: 2em;
  right: 2em;
}
/* line 434, ../sass/_francisco.scss */
.confirmacion .adicional h3 {
  text-transform: uppercase;
  color: #093c2d;
  text-align: center;
}
/* line 439, ../sass/_francisco.scss */
.confirmacion .adicional p {
  text-align: justify;
}
/* line 443, ../sass/_francisco.scss */
.confirmacion .boton {
  padding: 1em 2em;
  text-align: center;
}
/* line 447, ../sass/_francisco.scss */
.confirmacion img {
  width: 100%;
}
/* line 450, ../sass/_francisco.scss */
.confirmacion h1 {
  color: #093c2d;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
/* line 456, ../sass/_francisco.scss */
.confirmacion h2 {
  position: absolute;
  text-align: center;
  color: white;
  top: 0.5em;
  padding: 0.5em;
  background: rgba(245, 95, 10, 0.8);
}
