{% extends "base/base.html" %}
{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load crispy_forms_tags %}
{% load testimonios_tags derechos_tags %}
{% block title %}Mi cuenta - Mercatitulo{% endblock %}
{% block content %}

<div class="container">
    <form method="post" action=".">
    	<div class="col-xs-12 col-md-12 contrasenha">
    		<h1>Modifica tu contraseña</h1>
    		{% crispy form %}
			<input class="btn orange submit" type="submit" value="Actualizar">  
	        {% csrf_token %}
    	</div>
    </form>
</div>
	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}