{% extends "base/base.html" %}
{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load crispy_forms_tags %}
{% load testimonios_tags derechos_tags %}
{% block title %}Mi cuenta - Mercatitulo{% endblock %}
{% block content %}

<div class="container contrasenha">
	<div class="row centro">
		<h1>Contraseña modificada</h1>
		<div class="col-md-12">
			<a class="btn orange submit" href="/">Regresar</a>		
		</div>
	</div>
</div>
	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}