{% load staticfiles i18n bootstrap3 %}
{% load google_analytics %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Mercatitulo{% endblock title %}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="img/favicon.ico"> -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
		{% block css %}
    	<link href="{% bootstrap_css_url %}" rel="stylesheet">
		<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		{% endblock %}

		{% block jquery_up %}{% endblock jquery_up %}
	    {% block angular %}{% endblock %}
	    {% google_analytics %}
		<!-- Start of Smartsupp Live Chat script -->	
	</head>

	<body class="{% block body_class %}page-interna{% endblock %}">
		{% include "partials/header.html" %} 
		{% if messages %}
		{% for message in messages %}
		    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock content %}
				
		{% include "partials/footer.html" %}  

		{% block jquery_down %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    	{% endblock jquery_down %}
		{% block form_media %}{% endblock %}
    	{% block javascript %}
    	<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
		<script src="{% bootstrap_javascript_url %}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'plugins/inputmask/jquery.inputmask.bundle.js' %}"></script>
		{% endblock javascript %}
		<!-- Start of Smartsupp Live Chat script -->
		<script type="text/javascript">
		var _smartsupp = _smartsupp || {};
		_smartsupp.key = '84182e55252b953c30e6a103a01e33d3d1cc93c2';
		window.smartsupp||(function(d) {
			var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
			s=d.getElementsByTagName('script')[0];c=d.createElement('script');
			c.type='text/javascript';c.charset='utf-8';c.async=true;
			c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
		})(document);
		</script>		
	</body>
</html>
