{% extends "base/base.html" %}
{% load static %}
{% load testimonios_tags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Bienvenido</h1>
      <p>usuario {{ object.username }}</p>
    </div>
  </div>


</div>
    {% include "partials/cifras.html" %}
    {% lista_testimonios %}  
{% endblock content %}

