{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load testimonios_tags %}
{% block title %}Contacto - Mercatitulo{% endblock %}

{% block body_class %}page-interna page-form{% endblock %}

{% block content %}

<div class="container contacto">
    <div class="main-copy row">
        <h1>Ponte en contacto</h1>
    </div>
    <div class="form-wrapper row">
        {% crispy form %} 
    </div>
</div>

{% include "partials/cifras.html" %}
{% lista_testimonios %}

{% endblock %}