{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load testimonios_tags %}
{% block title %}Editar Proyecto - Mercatitulo{% endblock %}

{% block body_class %}page-interna page-form{% endblock %}

{% block form_media %}{{ form.media }}{% endblock %}

{% block content %}

<div class="form-page-content">
    <div class="container">
        <div class="main-copy row">
            <h1>Editar proyecto</h1>
            <h2>Número de identificación del proyecto: ID {{ data.proyecto.id }}</h2>
        </div>
        <div class="form-wrapper row">
    		{% csrf_token %}
            {% crispy form %}
        </div>
    </div>
</div>

{% include "partials/cifras.html" %}
{% lista_testimonios %}

{% endblock %}