{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load testimonios_tags %}
{% block title %}Editar Derechos - Mercatitulo{% endblock %}

{% block body_class %}page-interna page-form form-vender{% endblock %}

{% block form_media %}{{ form.media }}{% endblock %}

{% block content %}

<div class="form-page-content">
    <div class="container">
        <div class="main-copy row">
            <h1>Editar derecho fiduciario</h1>
            <h2>Número de identificación del derecho: ID {{ data.derecho.id }}</h2>
        </div>
        <div class="form-wrapper row">
            <form method="POST" id="vender-form">
                {% csrf_token %}  
                <div class="field field-tipo col-xs-12 col-md-6">
                    {{ form.tipo|as_crispy_field }}
                </div>
                <div class="field field-marca col-xs-12 col-md-6">
                    {{ form.marca|as_crispy_field }}
                </div>            
                <div class="field field-proyecto-exclue col-xs-12 col-md-12">
                    {{ form.proyecto|as_crispy_field }}
                </div>     
                <div class="field col-xs-12 col-md-4">
                    {{ form.monto_dividendo|as_crispy_field }}
                </div>
                <div class="field col-xs-12 col-md-4">
                    {{ form.ultimo_rendimiento|as_crispy_field }}
                </div>    
                <div class="field field-frecuencia col-xs-12 col-md-4">
                    {{ form.frecuencia_pago|as_crispy_field }}
                </div>      
                <div class="field col-xs-12 col-md-4">
                    {{ form.precio|as_crispy_field }}
                </div>
                <div class="field field-negociable col-xs-12 col-md-4">
                    {{ form.negociable|as_crispy_field }}
                </div> 
                <div class="field field-minimo col-xs-12 col-md-4">
                    {{ form.precio_minimo|as_crispy_field }}
                </div>   
                <div class="field field-nombre col-xs-12 col-md-12">
                    {{ form.nombre|as_crispy_field }}
                </div>     
                <div class="field field-descripcion col-xs-12 col-md-12">
                    {{ form.descripcion|as_crispy_field }}
                </div>   
                <div class="form-actions col-xs-12 col-md-12">
                    <a role="button" class="btn btn-default" href="{% url 'mi_cuenta' %}">Cancelar</a>
                    <input class="btn orange" type="submit" value="Modificar">  
                </div>
            </form>
        </div>
    </div>    
</div>

{% include "partials/cifras.html" %}
{% lista_testimonios %}

{% endblock %}