{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load testimonios_tags %}
{% block title %}Nuevo Proyecto - Mercatitulo{% endblock %}

{% block body_class %}page-interna page-form{% endblock %}

{% block form_media %}{{ form.media }}{% endblock %}

{% block content %}

<div class="form-page-content">
    <div class="container">
        <div class="main-copy row">
            <h1>Crea un nuevo proyecto</h1>
            <h2>Mercatítulo te ayuda en las gestiones para cederlo de manera rápida y segura</h2>
        </div>
        <div class="form-wrapper row">
            {% crispy form %} 
        </div>
    </div>
</div>

{% include "partials/cifras.html" %}
{% lista_testimonios %}

{% endblock %}