{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load testimonios_tags %}
{% block title %}Vender - Mercatitulo{% endblock %}

{% block body_class %}page-interna page-form form-vender{% endblock %}

{% block form_media %}{{ form.media }}{% endblock %}

{% block content %}

<div class="form-page-content">
    <div class="container">
        <div class="main-copy row">
            <h1>Vende tu derecho fiduciario</h1>
            <h2>Mercatítulo te ayuda en las gestiones para cederlo de manera rápida y segura</h2>
        </div>
        <div class="form-wrapper row">
            <form method="POST" id="vender-form">
                {% csrf_token %}  
                <div class="field field-tipo col-xs-12 col-md-6">
                    {{ form.tipo|as_crispy_field }}
                </div>
                <div class="field field-marca col-xs-12 col-md-6">
                    {{ form.marca|as_crispy_field }}
                </div>            
                <div class="field field-proyecto col-xs-12 col-md-12">
                    {{ form.proyecto|as_crispy_field }}
                </div>     
                <div class="field col-xs-12 col-md-4">
                    {{ form.monto_dividendo|as_crispy_field }}
                </div>
                <div class="field col-xs-12 col-md-4">
                    {{ form.ultimo_rendimiento|as_crispy_field }}
                </div>    
                <div class="field field-frecuencia col-xs-12 col-md-4">
                    {{ form.frecuencia_pago|as_crispy_field }}
                </div>      
                <div class="field col-xs-12 col-md-4">
                    {{ form.precio|as_crispy_field }}
                </div>   
                <div class="field field-negociable col-xs-12 col-md-4">
                    {{ form.negociable|as_crispy_field }}
                </div> 
                <div class="field field-minimo col-xs-12 col-md-4">
                    {{ form.precio_minimo|as_crispy_field }}
                </div>   
                <div class="field field-nombre col-xs-12 col-md-12">
                    {{ form.nombre|as_crispy_field }}
                </div>     
                <div class="field field-descripcion col-xs-12 col-md-12">
                    {{ form.descripcion|as_crispy_field }}
                </div>   
                <div class="field field-terminos col-xs-12 col-md-12">
                    <p>
                        <input type="checkbox" checked required />
                        Acepto los <a href="#" data-toggle="modal" data-target="#modal_terminos_venta">términos y condiciones</a>
                    </p>
                </div>
                <div class="form-actions col-xs-12 col-md-12 center">
                    <input class="btn orange submit" type="submit" value="Publicar derecho fiducuario">  
                </div>                           
            </form>
        </div>
    </div>    
</div>

<!-- Modal -->
<div id="modal_terminos_venta" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Términos y condiciones</h4>
      </div>
      <div class="modal-body">
        {% include "partials/terminos_venta.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>


{% include "partials/cifras.html" %}
{% lista_testimonios %}

{% endblock %}