{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block title %}¿Cómo funcionan?{% endblock %}
{% block content %}

  <div class="container confirmaciones">
  	<h1>¿Cómo funcionan los derechos fiduciarios?</h1>
  	<div class="row">
  		<p>El promotor aporta la propiedad donde se construye el proyecto al fideicomiso y hace las gestiones necesarias para arrancar el proyecto.</p>

  		<p>Al mismo tiempo, vincula al fideicomiso a los fideicomitentes (los que adquieren derechos fiduciarios), quienes entregan el dinero acordado en el presupuesto a la entidad fiduciaria para que sean administrados de manera independiente mediante una inversión en una cartera colectiva administrada por la fiduciaria de acuerdo con las normas vigentes y bajo la supervisión de la Superintendencia Financiera.</p>

  		<p>Los dineros entregados por los fideicomitentes, sólo se utilizan para el proyecto, sujeto a que se cumplan las condiciones establecidas en el contrato de fiducia (contrato que constituye el fideicomiso). Estas condiciones incluyen estudios de escrituras, títulos y demás documentos del lote, los permisos y licencias entre otras.</p>

  		<p>Al finalizar el proyecto, se da inicio a la fase de explotación comercial de los inmuebles resultantes, y los partícipes del fideicomiso empezarán a recibir (en la periodicidad acordada) las rentas derivadas en proporción a su participación en el patrimonio autónomo, previo descuento de los costos de administración y reservas (impuestos prediales, seguros, mantenimiento).</p>

  		<p>El fideicomitente no se preocupará por temas administrativos, siendo el fideicomiso quien los gestione con los recursos de la explotación del inmueble.</p>

  		<p>Simultánea a la construcción del proyecto, el promotor prepara la operación, buscando marcas y empresas para promover y comercializar el inmueble.</p>

  		<p>Los derechos fiduciarios no son una inversión financiera, por lo que no se puede garantizar una rentabilidad, ni su redención en un plazo determinado. La rentabilidad dependerá del desempeño del activo inmobiliario.</p>
  	</div>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}