{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Confirmar Compra - Mercatitulo{% endblock %}
{% block content %}
	
	<div class="container confirmar-compra">
		<h1>Confirmar la compra del derecho {{ data.derecho.nombre }}</h1>
		<div class="row">
			<div class="col-md-12">
				<h2>Tenga en cueta lo siguiente </h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, magna eget commodo fermentum, nunc nibh mattis orci, sed porta velit ipsum eget elit. Mauris et erat pulvinar, vehicula odio quis, maximus purus. Aliquam convallis leo sapien, eget blandit orci finibus eget. Sed eu volutpat dui, vitae malesuada magna. Donec vel mauris efficitur, placerat nisi et, lacinia tellus. Suspendisse tortor orci, posuere at nunc sit amet, gravida eleifend nisi. Phasellus quis porta arcu. Nunc dolor quam, dapibus vitae interdum consequat, pulvinar at massa.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
	          <table>
	          	<tr>
	          		<th>id</th>
	          		<th>nombre</th>
	          		<th>proyecto</th>
	          		<th>precio de venta</th>
	          		<th>monto dividendo</th>
	          		<th>rentabilidad</th>
	          		<th>frecuencia de pago</th>
	          		<th>último rendimiento</th>
	          		<th>negociable</th>
	          		<th>fecha de creacion</th>
	          	</tr>
	          	<tr>
	          		<td>{{ data.derecho.id }}</td>
	          		<td>{{ data.derecho.nombre }}</td>
	          		<td>{{ data.derecho.proyecto }}</td>
	          		<td>$ {{ data.derecho.precio|floatformat:"0"|intcomma }}</td>
	          		<td>$ {{ data.derecho.monto_dividendo|floatformat:"0"|intcomma }}</td>
	          		<td>{{ data.derecho.rentabilidad|floatformat:"2"|intcomma }}%</td>
	          		<td>{{ data.derecho.get_frecuencia_pago_display }}</td>
	          		<td>$ {{ data.derecho.ultimo_rendimiento|floatformat:"0"|intcomma }}</td>
	          		<td>{{ data.derecho.get_negociable_display }}</td>
	          		<td>{{ data.derecho.fecha_creacion }}</td>
	          	</tr>
	          </table>
			</div>
			{% if data.derecho.estado != '2' %}
				<div class="col-md-12">
					<p>
						<form action="{% url 'detalle-compra' %}" method="POST">
							{% csrf_token %}
							<input type="submit" class="btn btn-warning" value="Comprar">
							<a role="button" class="btn btn-default" href="{% url 'mercado' %}">Cancelar</a>
						</form>
					</p>
		        </div>
			{% else %}
				<div class="col-md-12 center">
					<p class="btn btn-default">
						En proceso de Compra
					</p>
				</div>
	        {% endif %}
		</div>
	</div>


	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}