{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags %}
{% block title %}Confirmar o Rechazar Ofertas - Mercatitulo{% endblock %}
{% block content %}

	<div class="container ofertas">
		<h1>Conformar o Rechazar Ofertas</h1>
		<div class="col-md-6">
			<h2>Detalle del Derecho</h2>
			<table>
				<tr>
					<th>Nombre del Derecho</th>
					<td>{{ data.derecho.nombre }}</td>
				</tr>
				<tr>
					<th>Código del Derecho</th>
					<td>{{ data.derecho.pk }}</td>
				</tr>
				<tr>
					<th>Inversión</th>
					<td>$ {{ data.derecho.precio|floatformat:"0"|intcomma }}</td>
				</tr>
				<tr>
					<th>Monto Dividendo</th>
					<td>$ {{ data.derecho.monto_dividendo|floatformat:"0"|intcomma }}</td>
				</tr>
				<tr>
					<th>Rentiabilidad</th>
					<td>{{ data.derecho.rentabilidad|floatformat:"2"|intcomma }}%</td>
				</tr>
				<tr>
					<th>Valor mínimo</th>
					<td>$ {{ data.derecho.precio_minimo|floatformat:"0"|intcomma }}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h2>Detalle de la Oferta</h2>
			<table>
				<tr>
					<th>Autor de la Oferta</th>
					<td>{{ data.oferta.autor }}</td>
				</tr>
				<tr>
					<th>Correo del autor</th>
					<td>{{ data.oferta.correo }}</td>
				</tr>
				<tr>
					<th>Teléfono del autor</th>
					<td>{{ data.oferta.telefono }}</td>
				</tr>
				<tr>
					<th>Valor de la Oferta</th>
					<td>$ {{ data.oferta.valor|floatformat:"0"|intcomma }}</td>
				</tr>
				<tr>
					<th>Estado de la Oferta</th>
					<td>{{ data.estado_oferta }}</td>
				</tr>
			</table> 
		</div>
		<div class="col-md-12 center">
			{% if data.oferta.estado == '0' %}
				<div class="col-md-12">
					<p>
						<form action="{% url 'confirm-oferta' data.oferta.llave %}" method="POST">
							{% csrf_token %}
							<button type="submit" class="btn btn-warning" name="aceptar" value="Aceptar">Aceptar</button>
							<button type="submit" class="btn btn-warning" name="rechazar" value="Rechazar">Rechazar</button>
						</form>
					</p>
				</div>
			{% endif %}
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}