{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Confirmar Compra - Mercatitulo{% endblock %}
{% block content %}

	<div class="container confirmaciones">
		<div class="row">
			<h1>Nos pondremos en contacto</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi magna, pretium at vestibulum a, euismod ac nisi. Mauris mollis ipsum eu porta tincidunt. Aliquam molestie massa vitae leo luctus pretium. Proin augue neque, venenatis nec molestie ac, tempor at nisl. Vestibulum nec eros sed urna ultrices rutrum. Nam at ante commodo, tincidunt augue ut, malesuada magna. Ut sodales in dolor in gravida. Ut massa libero, dignissim sit amet lectus at, porttitor tristique orci. Aenean iaculis tempus sem sit amet congue. Mauris dapibus ac enim id faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
		<div class="row center">
			<a role="button" class="btn btn-warning" href="{% url 'home' %}">Volver</a>
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}