{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block title %}¿Qué son los Derechos?{% endblock %}
{% block content %}

  <div class="container confirmaciones">
  	<h1>¿Qué son los derechos fiduciarios?</h1>
  	<div class="row">
  		<p>Son títulos que pequeños inversionistas, pueden adquirir a manera de derechos sobre una propiedad o proyecto inmobiliario de gran magnitud en Colombia.</p>

		<p>Los derechos fiduciarios son participaciones en un fideicomiso (Patrimonio Autónomo administrado por una Sociedad Fiduciaria autorizada por la Superintendencia Financiera), que le permiten ser propietario de una parte de un proyecto inmobiliario.</p>

		<p>Para adquirirlos típicamente se hace una inversión inicial y posteriormente, realizar pagos mensuales durante la construcción del proyecto. Cuando el inmueble se haya terminado, se inicia la etapa de explotación del proyecto de propiedad del fideicomiso. El producto de esa misma explotación (renta) se distribuye entre los titulares de derechos fiduciarios en proporción a su participación.</p>
  	</div>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}