{% extends "base/base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Mercado de derechos - Mercatitulo{% endblock %}
{% block content %}
  <div class="container">
    <div class="row detalle-derechos">
      <div class="col-md-6">
        <img src="{{ data.derechos.proyecto.foto|thumbnail_url:'proyectos' }}" class="img-responsive" alt="{{ derechos.nombre }}">
      </div>
      <div class="col-md-6 detalle">
        <div class="col-md-12 tipos">
          {% for tipo in data.derechos.proyecto.tipo.all %}
            <p> {{ tipo }} </p>
          {% endfor %}
        </div>
        <div class="col-md-12 derecho-nombre">
          <p> {{ data.derechos.nombre }} </p>
        </div>
        <div class="col-md-12 inversion">
          <p> Precio de venta del derecho fiduciario </p> 
        </div>  
        <div class="col-md-6 precio">
          <p> $ {{ data.derechos.precio|floatformat:"0"|intcomma }} </p>
        </div>
        <div class="col-md-6 marca">
          <p> Marca comercial: {{ data.derechos.proyecto.marca }} </p>
        </div>
        <div class="col-md-12">
          <p class="label_partial"> Proyecto inmobiliario </p>
          <p class="proyecto_name"> {{ data.derechos.proyecto.nombre }} </p>
        </div>
        <div class="col-md-12 negociable">
          <div class="col-md-6">
            <p>
              Opción:
              {% if data.derechos.negociable == '1' %}
                Negociable
              {% else %}
                No negociable
              {% endif %} 
            </p>
          </div>
          <div class="col-md-6">
            <p> Rentabilidad: {{ data.derechos.rentabilidad|floatformat:"2"|intcomma }}%</p>
          </div>
          <div class="col-md-12">
            <p>Último rendimiento: $ {{ data.derechos.ultimo_rendimiento|floatformat:"0"|intcomma }}</p>
          </div>
          <div class="col-md-12">
            <p>Monto dividendo: $ {{ data.derechos.monto_dividendo|floatformat:"0"|intcomma }}</p>
          </div>
          <div class="col-md-12">
            <p>Valor mínimo: $ {{ data.derechos.precio_minimo|floatformat:"0"|intcomma }}</p>
          </div>
          <div class="col-md-12">
            <p>Frecuencia de pago: {{ data.derechos.get_frecuencia_pago_display }}</p>
          </div>
        </div>
        {% if data.derechos.estado != '2' %}
          <div class="col-md-12 botones_wrapper">
            <p>
              <form action="{% url 'ofertar' data.derechos.slug %}" method="POST">
                {% csrf_token %}
                <div class="col-md-12">
                  {{ form.valor|as_crispy_field }}
                </div>
                <div class="col-md-12">
                  <input type="submit" class="boton" value="Ofertar">
                  <a href="{% url 'mercado' %}">
                    <button class="boton_blank" type="button">cancelar</button>
                  </a>
                </div>
              </form>
            </p>
          </div>
        {% else %}
          <p class="btn btn-warning">
            En proceso de Compra
          </p>
        {% endif %}
      </div>
      <div class="col-md-12 descripcion">
        <h3>Información del título valor</h3>
        <p>{{ data.derechos.descripcion|striptags|safe }}</p>
      </div>
    </div>
  </div>
  <div class="container proceso_compra">
    <h2>Proceso para Ofertar</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus sem, pellentesque quis enim in, laoreet pulvinar quam. Aenean quis fermentum lectus. Pellentesque pretium, sem eu dignissim cursus, elit turpis rutrum velit, vitae elementum purus odio laoreet felis. Nam ex mauris, maximus sed lectus efficitur, fermentum dapibus eros. Aliquam tristique justo eget tristique ultrices. Nulla magna arcu, finibus ac tellus et, cursus tempus leo. Vestibulum ut urna ex. Mauris in lobortis libero, et imperdiet turpis. Praesent a quam viverra, suscipit nisi sed, condimentum nunc. Phasellus at risus efficitur, imperdiet lacus ac, volutpat mi. Fusce lacinia enim lorem, eget laoreet orci scelerisque eu. Aenean hendrerit lacus at ipsum condimentum sollicitudin sed iaculis elit. Aliquam metus diam, lobortis convallis tellus ac, pulvinar sagittis elit. Morbi ultricies ultrices enim sit amet imperdiet. Vivamus sodales ligula felis, sed ultricies eros lobortis a.</p>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}
