{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Eliminar Derecho - Mercatitulo{% endblock %}
{% block content %}

	<div class="container">
		<div class="row confirmacion">
			<h1>Eliminar Derecho</h1>
			<div class="col-md-12 clearfix">
				<h2>{{ data.derecho.nombre }}</h2>
				<img src="{{ data.derecho.proyecto.foto.url }}" alt="{{ data.derecho.nombre }}">
				<div class="row datos clearfix">
					<p><strong>Código del Proyecto:</strong> {{ data.derecho.pk }} </p>
					<p><strong>Precio:</strong> $ {{ data.derecho.precio|floatformat:"0"|intcomma }} </p>
					<p><strong>Monto rentado:</strong> $ {{ data.derecho.rendimiento|intcomma }} </p>
					<p><strong>Estado:</strong> {{ data.derecho.get_estado_display }} </p>
				</div>
			</div>
			<div class="col-xs-12 col-md-12 botones_centro">
                <form method="POST">
                	{% csrf_token %}
                	<a role="button" class="btn btn-default" href="{% url 'mi_cuenta' %}">Cancelar</a>
                	<input class="btn orange" type="submit" value="Eliminar">  
                </form>
            </div>
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}