{% extends "base/base.html" %}

{% load staticfiles i18n thumbnail bootstrap3 mathfilters %}
{% load testimonios_tags aliados_tags humanize %}
{% block title %}Inicio - Mercatitulo{% endblock %}
{% block body_class %}page-home{% endblock %}

{% block content %}

<main class="c_fullContainer c_fullHome" role="main">

	<div class="c_bannerInitial">
		<img src="{% static 'images/banner01.jpg' %}" alt="">
		<h1>Adquiere o cede tus derechos fiduciarios de proyectos inmobiliarios en Colombia</h1>
	</div>

	<div class="c_prinAction">
		<div class="container">
			<div class="col-md-6 c_venta">
				<div class="action-interna">
					<div class="d-icon v-center">
						<img src="{% static 'images/ico_vender.png' %}" alt="">
					</div>
					<img src="{% static 'images/img_pv.jpg' %}" alt="">
					<p>Poseo derechos fiduciarios y estoy interesado en venderlos</p>
					<a href="{% url 'vender' %}" class="btn c_btn">Quiero vender</a>					
				</div>
			</div>
			<div class="col-md-6 c_compra">
				<div class="action-interna">
					<div class="d-icon v-center">
						<img src="{% static 'images/ico_comprar.png' %}" alt="">
					</div>
					<img src="{% static 'images/img_py.jpg' %}" alt="">
					<p>Estoy interesado en comprar derechos fiduciarios</p>
					<a href="{% url 'mercado' %}" class="btn c_btn">Quiero comprar</a>
				</div>
			</div>
			<article class="col-md-12 c_entradilla">
				<p>Somos un servicio que une la oferta y la demanda de <br>
				<strong>derechos fiduciarios en Colombia.</strong> <br>
				Nuestro sistema ofrece herramientas para buscar y facilitar la compra y venta de derechos fiduciarios entre inversionistas</p>
			</article>

		</div>
	</div>

	<div class="c_priProy clearfix">
		{% if content.proyectos %}
			{% for proyectos in content.proyectos %}
				<div class="col-md-6 c_priProyInt">
					<h3>{{ proyectos.nombre }}</h3>
					<img src="{{ proyectos.foto|thumbnail_url:'proyectos' }}" alt="{{ proyectos.nombre }}">
					<div class="row d-proyecto-action-wrapper clearfix">
						<div class="col-xs-6 c_inversion">
							<p class="c_price">Proyecto cod. {{ proyectos.id }}</p>
							<p class="c_price">Inversión: ${{ proyectos.precio|floatformat:"0"|intcomma }}</p>
							<p class="c_rent">Rentabilidad estimada: {{ proyectos.rendimiento|intcomma }}%</p>
							<p class="d_rent_disclaimer">No se garantiza la tasa de rentabilidad</p>
						</div>
						<div class="col-xs-6 c_acciones">
							{% if proyectos.negociable %}
								<p class="c_nego">Negociable</p>
							{% endif %}						
							<p class="c_action">
								<a href="{% url 'vender' %}" class="btn c_btn_cuadrado" type="button">ofertar</a>
								<a href="/mercado-derechos/?proyecto={{ proyectos.id }}&codigo=&tipos_proyecto=&enviar=Buscar" class="btn c_btn_cuadrado" type="button">comprar</a>
							</p>
						</div>						
					</div>
				</div>
			{% endfor %}
		{% else %}
	  	<div class="no-content">				
	  		<h2>NO SE ENCONTRARON PROYECTOS</h2>
	  	</div>
		{% endif %}	
		<div class="container c_proyOtros">
			<a class="btn orange" href="{% url 'proyectos' %}">Ver mas Proyectos</a>
			<a class="btn orange" href="{% url 'mercado' %}">Ver mas Derechos</a>
		</div>
	</div>
	{% include "partials/cifras.html" %}

	{% lista_testimonios %}

	{% lista_aliados %}

</main>
{% endblock %}

