{% load staticfiles %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Pronto - Mercatitulo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'assets_soon/css/visual.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'assets_soon/css/media-queries.css' %}" type="text/css" media="screen" />
	<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="assets_soon/js/selectivizr-min.js"></script>
	<![endif]-->
</head>
<body>
<nav id="settings">
	<style>
		.settings {
			background:url("{% static 'assets_soon/img/custom.gif' %}") no-repeat;
			display:block;
			height:29px;
			width:29px;
			position:absolute;
			top:45%;
			opacity:0.5;
			border-radius:0 5px 5px 0;
		}
		.settings:hover {
			opacity:1;
			cursor:pointer;
		}
		#settings {
			display:none;
			position:absolute;
			top:20%;
			border-radius:0 8px 8px 0;
			padding:3px;
			background:rgba(0,0,0,0.2);
			vertical-align:top;
			font-size:12px;
			padding:10px;
			width:250px;
			vertical-align:top;
		}
		#settings label {
			display:inline-block;
			cursor:pointer;
			width:125px;
			float:left;
		}
		#settings span {
			font-weight:bold;
			margin:0;
			display:block;
			font-size:13px;
		}
		#settings span:nth-of-type(3) {
			margin-top:15px;
		}
		#settings .close {
			margin-top:15px;
			color:red;
			cursor:pointer;
		}
		#settings li {
			display:inline-block;
			text-indent:-9999px;
			height:30px;
			width:30px;
			cursor:pointer;
			border-radius:5px;
		}
		.candy {background:url("{% static 'assets_soon/img/bg/candy/red.png' %}");}
		.paint {background:url("{% static 'assets_soon/img/bg/paint/blue.png' %}");}
		.squares {background:url("{% static 'assets_soon/img/bg/squares/pink.png' %}");}
		.paper {background:url("{% static 'assets_soon/img/bg/paper/purple.png' %}");}
		.mat {background:url("{% static 'assets_soon/img/bg/mat/green.png' %}");}
		.misc {background:url("{% static 'assets_soon/img/bg/misc/wood.png' %}");}
		body{
				background: #bc1c2b url("{% static 'assets_soon/img/bg/paint/green.png' %}");
		}
	</style>
	<span>Widgets</span>
	<label><input name="logo" type="checkbox" checked /> Logo</label>
	<label><input name="tagline" type="checkbox" checked /> Tagline</label>
	<label><input name="progressbar" type="checkbox" checked /> Progress Bar</label>
	<label><input name="subscribe" type="checkbox" checked /> Subscription</label>
	<label><input name="countdown" type="checkbox" checked /> Countdown</label>
	<label><input name="twitter" type="checkbox" /> Tweets</label>
	<label><input name="social" type="checkbox" /> Social Icons</label>
	<label><input name="footer" type="checkbox" checked /> Footer</label>

	<span>Theme</span>
	<ul>
		<li class="candy">candy</li>
		<li class="paint">paint</li>
		<li class="squares">squares</li>
		<li class="paper">paper</li>
		<li class="mat">mat</li>
		<li class="misc">misc</li>
	</ul>

	<span>Color</span>
	<select>
		<option selected>red</option>
		<option>blue</option>
		<option>green</option>
		<option>pink</option>
		<option>purple</option>
		<option>teal</option>
		<option>orange</option>
		<option>yellow</option>
	</select>

	<span class="close">Close</span>
</nav>

<!-- Progress bar -->
<div id="progressbar" data-perc="75">
	<div class="bar"></div>
	<div class="label"><span></span></div>
</div>

<!-- Wrap this content into a container that sets a default width. Progress is outside of this because its width is 100%. -->
<div id="container">

	<!-- Logo text -->
	<section id="logo">
		<h1>Mercatitulo</h1>
	</section>

	<!-- Description text -->
	<section id="tagline">
		<p>Pronto podrás adquierir o ceder tus derechos fiduciarios de proyectos inmobiliarios en Colombia!</p>
	</section>

	<!-- Social media icons -->
	<section id="social" style="display:none">
		<ul>
			<li class="facebook"><a href="#" title="Be a facebook fan">Fan</a></li>
			<li class="twitter"><a href="#" title="Follow us on twitter">Follow</a></li>
			<li class="google"><a href="#" title="Befriend us on Google">Circle</a></li>
			<li class="skype"><a href="#" title="Talk to us on Skype">Talk</a></li>
			<li class="vimeo"><a href="#" title="Watch us on Vimeo">Watch</a></li>
		</ul>
	</section>


</div>

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src="{% static 'assets_soon/js/core.js' %}"></script>
<script src="{% static 'assets_soon/js/countdown.min.js' %}"></script>

</body>
</html>
