{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load crispy_forms_tags %}
{% load testimonios_tags derechos_tags %}
{% block title %}Mercado de derechos - Mercatitulo{% endblock %}
{% block content %}
	<div class="container">
		<!--<div class="row galeria">
			{% galeriaMercado %}
		</div>-->
		<div class="row main-content no-padding">
			<div class="col-sm-3 filtros">
				<h2 class="filtro-titulo">
					Encuentra el tipo de derecho que estás buscando
				</h2>
				<div class="tipo-titulo">
					{% if data.tipos_proyecto %}
						<ul>
							<li>
								<a href="/mercado-derechos/?proyecto={{ data.proyecto_id }}&codigo={{ data.codigo_id }}&tipos_proyecto=&enviar=enviar">
									Todos<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</li>
							{% for tipo_de_proyecto in data.tipos_proyecto %}
								<li>
									<a href="/mercado-derechos/?proyecto={{ data.proyecto_id }}&codigo={{ data.codigo_id }}&tipos_proyecto={{ tipo_de_proyecto.id }}&enviar=enviar">
										{{ tipo_de_proyecto.nombre }}<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</a>
								</li>
							{% endfor %}							
						</ul>
					{% else %}
						<div class="no-content">
							<h2>NO SE HA CARGADO LA GALERÍA</h2>
						</div>
					{% endif %} 
				</div>
			</div>
			<div class="col-sm-9 lista-derechos-wrapper">
				<div class="buscar_form">
					{% crispy data.buscar_derecho_form %}
				</div>
				<div class="lista-derecho clearfix">
					{% if data.derechos %}
						{% for derecho in data.derechos %}
							{% if forloop.counter == 1 %} 
								<div class="lista-derecho-item col-sm-12 item-full">
									<h3>{{ derecho.nombre }}</h3>
									<a class="derecho-image" href="{% url 'derecho_detalle' derecho.slug %}">
										<img src="{{ derecho.proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ derecho.nombre }}">
									</a>									
									<div class="row clearfix">
										<div class="col-xs-6">
											<p class="codigo"><span class="first">Derecho fiduciario:</span><span>Cod. {{ derecho.pk }}</span></p>
											<p class="inversion">Inversión: 
											${{ derecho.precio|floatformat:"0"|intcomma }}</p>
											<p class="rentabilidad">Monto dividendo:
											${{ derecho.monto_dividendo|floatformat:"0"|intcomma }}</p>
										</div>
										<div class="col-xs-6 acciones">
											{% if derecho.negociable == '1' %}
												<p class="c_nego">Negociable</p>
											{% else %}									<p class="c_nego">No negociable</p>
											{% endif %}
											{% if derecho.estado != '2' %}
												<p class="c_action">
													{% if derecho.negociable == '1' %}
														<a href="{% url 'ofertar' derecho.slug %}">
															<button class="btn c_btn_cuadrado" type="button">ofertar</button>
														</a>
													{% endif %}
													<a href="{% url 'derecho_detalle' derecho.slug %}">
														<button class="btn c_btn_cuadrado" type="button">comprar</button>
													</a>
												</p>
											{% else %}
												<p class="btn c_btn_cuadrado">
													En proceso de Compra
												</p>
											{% endif %}
										</div>
										<div class="col-xs-12 df_mercado_desc_full">
											<p> Descripción: </p>
											<span> {{ derecho.descripcion|safe }}</span>
											<a href="#" data="{{ derecho.descripcion|striptags|safe }}" data-toggle="modal" data-target="#modal_descripcion">(ver mas)</a>
										</div>
										<div class="col-xs-6">
											<p class="dis_rentabilidad">*No se garantiza la tasa de rentabilidad</p>
										</div>
									</div>
								</div>										
							{% elif forloop.counter == 2 or forloop.counter == 3  %} 
								<div class="lista-derecho-item col-sm-12 col-md-6 item-mid">
									<h3>{{ derecho.nombre }}</h3>
									<a class="derecho-image" href="{% url 'derecho_detalle' derecho.slug %}">
										<img src="{{ derecho.proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ derecho.nombre }}">
									</a>
									<div class="row clearfix">
										<div class="col-xs-6">
											<p class="codigo"><span class="first">Derecho fiduciario:</span> <span>Cod. {{ derecho.pk }}</span></p>
											<p class="inversion">Inversión:</p>
											<p>${{ derecho.precio|floatformat:"0"|intcomma }}</p>
											<p class="rentabilidad">Monto dividendo:</p>
											<p>${{ derecho.monto_dividendo|floatformat:"0"|intcomma }}</p>
										</div>
										<div class="col-xs-6 acciones">
											{% if derecho.negociable == '1' %}
												<p class="c_nego">Negociable</p>
											{% else %}									<p class="c_nego">No negociable</p>
											{% endif %}	
											{% if derecho.estado != '2' %}			
												<p class="c_action">
													{% if derecho.negociable == '1' %}
														<a href="{% url 'ofertar' derecho.slug %}">
															<button class="btn c_btn_cuadrado" type="button">ofertar</button>
														</a>
													{% endif %}
													<a href="{% url 'derecho_detalle' derecho.slug %}">
														<button class="btn c_btn_cuadrado" type="button">comprar</button>
													</a>
												</p>
											{% else %}
												<p class="btn c_btn_cuadrado">
													En proceso de Compra
												</p>
											{% endif %}
										</div>
										<div class="col-xs-12 df_mercado_desc_mid">
											<p> Descripción: </p>
											<span> {{ derecho.descripcion|safe }}</span>
											<a href="#" data="{{ derecho.descripcion|striptags|safe }}" data-toggle="modal" data-target="#modal_descripcion">(ver mas)</a>
										</div>
										<div class="col-xs-6">
											<p class="dis_rentabilidad">*No se garantiza la tasa de rentabilidad</p>					
										</div>
									</div>
								</div>
							{% elif forloop.counter > 3 %}
								<div class="lista-derecho-item col-sm-12 col-md-4 item-three">
									<h3>{{ derecho.nombre }}</h3>
									<a class="derecho-image" href="{% url 'derecho_detalle' derecho.slug %}">
										<img src="{{ derecho.proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ derecho.nombre }}">
									</a>
									<div class="row clearfix">
										<div class="col-xs-6">
											<p class="codigo"><span>Derecho fiduciario:</span> <span>Cod. {{ derecho.pk }}</span></p>
											<p class="inversion">Inversión:</p>
											<p>${{ derecho.precio|floatformat:"0"|intcomma }}</p>
											<p class="rentabilidad">Monto dividendo:</p>
											<p>${{ derecho.monto_dividendo|floatformat:"0"|intcomma }}</p>
										</div>
										<div class="col-xs-6 acciones">
											{% if derecho.negociable == '1' %}
												<p class="c_nego">Negociable</p>
											{% else %}									<p class="c_nego">No negociable</p>
											{% endif %}
											{% if derecho.estado != '2' %}			
												<p class="c_action">
													{% if derecho.negociable == '1' %}
														<a href="{% url 'ofertar' derecho.slug %}">
															<button class="btn c_btn_cuadrado" type="button">ofertar</button>
														</a>
													{% endif %}
													<a href="{% url 'derecho_detalle' derecho.slug %}">
														<button class="btn c_btn_cuadrado" type="button">comprar</button>
													</a>
												</p>
											{% else %}
												<p class="btn c_btn_cuadrado">
													En proceso de Compra
												</p>
											{% endif %}
										</div>	
										<div class="col-xs-12 df_mercado_desc_last">
											<p> Descripción: </p>
											<span> {{ derecho.descripcion|safe }}</span>
											<a href="#" data="{{ derecho.descripcion|striptags|safe }}" data-toggle="modal" data-target="#modal_descripcion">(ver mas)</a>
										</div>
										<div class="col-xs-12">
											<p class="dis_rentabilidad">*No se garantiza la tasa de rentabilidad</p>
										</div>
									</div>
								</div>	
							{% endif %}
						{% endfor %}
					{% else %}
						<div class="no-content">				
							<h2>NO SE ENCONTRARON DERECHOS</h2>
						</div>
					{% endif %}	
				</div>
			</div>			
		</div>
	</div>

	<!-- Modal -->
	<div id="modal_descripcion" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Descripción</h4>
	      </div>
	      <div class="modal-body" id="modal_derechos_descripcion">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>

	  </div>
	</div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}

