{% extends "base/base.html" %}
{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load crispy_forms_tags %}
{% load testimonios_tags derechos_tags %}
{% block title %}Mi cuenta - Mercatitulo{% endblock %}
{% block content %}
	
	<div class="container">
		<div class="row micuenta">
			<div class="col-sm-3">
				<h2>
					Mi cuenta
				</h2>
				<div class="opciones">
					<ul>
						<li>
							<a href="/mi-cuenta/?opc=cuenta">Cuenta</a>
						</li>
						<li>
							<a href="/password-change/">Cambiar contraseña</a>
						</li>
						<li>
							<a href="/mi-cuenta/?opc=proyectos">Proyectos</a>
						</li>
						<li>
							<a href="/mi-cuenta/?opc=derechos">Derechos</a>
						</li>
						<li>
							<a href="/mi-cuenta/?opc=transacciones">Transacciones</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9 contenido">
				{% if data.opcion == 'cuenta' %}
					<div class="col-sm-12 col-xs-12 col-md-12 form_cuenta">
						<h3>Actualiza datos personales</h3>
						<form method="POST">
							{% csrf_token %}
							<div class="col-xs-12 col-md-12">
								{{ data.form.nombre|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-md-12">
								{{ data.form.apellido|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-md-12">
								{{ data.form.telefono|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-md-12">
								{{ data.form.ciudad|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-md-12">
								{{ data.form.correo|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-md-12">
								<input class="btn orange submit" type="submit" value="Actualizar">  
							</div>
						</form>
					</div>
				{% elif data.opcion == 'proyectos' %}
					<div class="row proyectos">
						<h3>Mis proyectos</h3>
						{% if data.proyectos %}
							{% for proyecto in data.proyectos %}
								<div class="col-md-12">
									<div class="col-md-12">
										<h2>{{ proyecto.nombre }}</h2>
										<img src="{{ proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ proyecto.nombre }}">	
										<div class="col-md-12 datos">
											<p>Código: {{ proyecto.id }}</p>
											<p>Precio: ${{ proyecto.precio|floatformat:"0"|intcomma }}</p>
											<p>Rentabilidad estimada: {{ proyecto.rendimiento|intcomma }}%</p>
											<p>Estado: {{ proyecto.get_estado_display }}</p>
											<!-- Opciones de editar y eliminar proyecto 
											<div class="acciones">
												<a href="{% url 'editar_proyecto' proyecto.slug %}">
													<button class="btn c_btn_cuadrado" type="button">Editar</button>
												</a>
												<a href="{% url 'eliminar_proyecto' proyecto.slug %}">
													<button class="btn c_btn_cuadrado" type="button">Eliminar</button>
												</a>
											</div>
											-->
										</div>
									</div>
									<div class="col-md-12 descripcion">
										<h4>Descripción</h4>
										<p>{{ proyecto.descripcion|striptags|safe }}</p>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class="no-content">				
								<h1>NO SE ENCONTRARON PROYECTOS</h1>
							</div>
						{% endif %}	
					</div>
				{% elif data.opcion == 'derechos' %}
					<div class="row derechos">
						<h3>Mis derechos</h3>
						{% if data.derechos %}
							{% for derecho in data.derechos %}
								<div class="col-md-12">
									<div class="col-md-12">
										<h2>{{ derecho.nombre }}</h2>
										<img src="{{ derecho.proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ derecho.nombre }}">	
										<div class="col-md-12 datos">
											<p>Código: {{ derecho.id }}</p>
											<p>Precio: ${{ derecho.precio|floatformat:"0"|intcomma }}</p>
											<p>Monto dividendo: ${{ derecho.monto_dividendo|floatformat:"0"|intcomma }}</p>
											<p>Estado: {{ derecho.get_estado_display }}</p>
											<div class="acciones">
												<a href="{% url 'editar_derecho' derecho.slug %}">
													<button class="btn c_btn_cuadrado" type="button">Editar</button>
												</a>
												<a href="{% url 'eliminar_derecho' derecho.slug %}">
													<button class="btn c_btn_cuadrado" type="button">Eliminar</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class="no-content">				
								<h1>NO SE ENCONTRARON DERECHOS</h1>
							</div>
						{% endif %}	
					</div>
				{% elif data.opcion == 'transacciones' %}
					<div class="col-sm-12 col-xs-12 col-md-12 transacciones">
						<h3>Mis transacciones</h3>
						{% if data.ofertas or data.compras %}
							<table>
								<tr>
									<th>ID</th>
									<th>Derecho</th>
									<th>Valor</th> 
									<th>Tipo</th> 
									<th>Estado</th>
								</tr>
								{% if data.compras %}
									{% for compra in data.compras %}
										<tr>
											<td>{{ compra.id }}</td>
											<td>{{ compra.derecho }}</td>
											<td>$ {{ compra.valor_derecho|floatformat:"0"|intcomma }}</td>
											<td>Compra</td>
											<td>{{ compra.derecho.get_estado_display }}</td>
										</tr>
									{% endfor %}
								{% endif %}
								{% if data.ofertas %}
									{% for oferta in data.ofertas %}
										<tr>
											<td>{{ oferta.id }}</td>
											<td>{{ oferta.derecho }}</td>
											<td>$ {{ oferta.valor|floatformat:"0"|intcomma }}</td>
											<td>Oferta</td>
											<td>{{ oferta.get_estado_display }}</td>
										</tr>
									{% endfor %}
								{% endif %}
							</table>	
						{% else %}
							<div class="no-content">				
								<h1>NO SE ENCONTRARON TRANSACCIONES</h1>
							</div>
						{% endif %}	
					</div>
				{% endif %} 
			</div>
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}