{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Confirmar Compra - Mercatitulo{% endblock %}
{% block content %}

	<div class="container">
		<h1>Oferta aceptada</h1>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}