{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Confirmar Compra - Mercatitulo{% endblock %}
{% block content %}

	<div class="container confirmaciones">
		<div class="row">
			<h1>Gracias por su Oferta</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit erat ac erat tincidunt, id posuere tortor bibendum. Nunc ac dui faucibus, ullamcorper nibh eu, vestibulum ipsum. Nullam urna libero, lacinia vel erat ac, pretium rhoncus leo. Quisque accumsan justo eget nisl sodales, vitae maximus metus viverra. Donec luctus auctor bibendum. Integer ac risus dignissim, pellentesque ante vel, aliquam tellus. Proin tempus velit ut est ultricies, eu bibendum lorem vehicula. Duis vel tellus quis dolor egestas molestie vel sit amet nunc. Integer ullamcorper tellus tellus, vel ornare felis lobortis vitae. Donec eu rhoncus magna. Aliquam at arcu vel arcu convallis vestibulum.</p>	
		</div>
		<div class="row center">
			<a role="button" class="btn btn-warning" href="{% url 'mercado' %}">Volver</a>
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}