{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags thumbnail humanize %}
{% load testimonios_tags %}
{% block title %}Mercado de derechos - Mercatitulo{% endblock %}
{% block content %}
  <div class="container">
    <h1>Proyectos Inmobiliarios</h1>
    <div class="row main-content no-padding">
    	<div class="col-sm-3 filtros">
    		<h2 class="filtro-titulo">
				Encuentra el tipo de proyecto que estás buscando
			</h2>
			<div class="tipo-titulo">
				{% if data.tipos_proyecto %}
					<ul>
						<li>
							<a href="/nuevos-proyectos/">
								Todos<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</li>
						{% for tipo_de_proyecto in data.tipos_proyecto %}
							<li>
								<a href="/nuevos-proyectos/?tipos_proyecto={{ tipo_de_proyecto.id }}">
									{{ tipo_de_proyecto.nombre }}<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</li>
						{% endfor %}							
					</ul>
				{% else %}
					<div class="no-content">
						<h2>NO SE HA CARGADO LA GALERÍA</h2>
					</div>
				{% endif %}
			</div>
    	</div>
    	<div class="col-sm-9">
    		<div class="col-md-12">
				{% crispy data.buscar_proyecto_form %}
			</div>
			<div class="clearfix proyectos_mercado">
				{% if data.proyectos %}
					{% for proyecto in data.proyectos %}
						<div class="col-md-12">
							<div class="col-md-12">
								<h2>{{ proyecto.nombre }}</h2>
								<img src="{{ proyecto.foto|thumbnail_url:'proyectos' }}" alt="{{ proyecto.nombre }}">	
								<div class="col-md-12 datos">
									<p>Código: {{ proyecto.id }}</p>
									<p>Precio: ${{ proyecto.precio|floatformat:"0"|intcomma }}</p>
									<p>Rentabilidad estimada: {{ proyecto.rendimiento|intcomma }}%</p>
									<p>Estado: {{ proyecto.get_estado_display }}</p>
								</div>
							</div>
							<div class="col-md-12 descripcion">
								<h4>Descripción</h4>
								<p>{{ proyecto.descripcion|striptags|safe }}</p>
							</div>
							<div class="col-md-6">
								<a href="/mercado-derechos/?proyecto={{ proyecto.id }}&codigo=&tipos_proyecto=&enviar=Buscar" class="btn btn-warning">Ver mas</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="no-content">				
						<h1>NO SE ENCONTRARON PROYECTOS</h1>
					</div>
				{% endif %}	
			</div>
    	</div> 
    </div>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}

