{% extends "base/base.html" %}

{% load staticfiles thumbnail i18n mathfilters humanize %}
{% load testimonios_tags derechos_tags %}
{% block title %}Confirmación Proyecto - Mercatitulo{% endblock %}
{% block content %}

	<div class="container">
		<div class="row confirmacion">
			<h1>Se ha creado el Proyecto</h1>
			<div class="col-md-10 clearfix">
				<h2>{{ data.proyecto.nombre }}</h2>
				<img src="{{ data.proyecto.foto.url }}" alt="{{ data.proyecto.nombre }}">
				<div class="row datos clearfix">
					<p><strong>Código del Proyecto:</strong> {{ data.proyecto.pk }} </p>
					<p><strong>Precio:</strong> $ {{ data.proyecto.precio|floatformat:"0"|intcomma }} </p>
					<p><strong>Rentabilidad estimada:</strong> {{ data.proyecto.rendimiento|intcomma }}% </p>
					<p><strong>Estado:</strong> {{ data.estado }} </p>
				</div>
			</div>
			<div class="col-md-10 adicional">
				<h3>Ten en cuenta lo siguiente</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam velit at lorem iaculis, vitae mollis lectus ullamcorper. Sed vel ullamcorper tortor. Nunc tempus, mauris sed posuere consectetur, lacus velit malesuada arcu, gravida pharetra purus massa eget diam. Mauris congue dui urna, ut tincidunt sapien auctor vel. Fusce enim ligula, sagittis ac sem in, iaculis ullamcorper metus. Suspendisse et dapibus nulla. Fusce efficitur dolor at lobortis sodales. In commodo eros nec est malesuada ultrices. Nunc a risus nunc. Pellentesque venenatis lacinia purus, eget molestie nisl auctor ut.</p>
			</div>
			<div class="col-md-10 boton">
				<a class="btn orange" href="{% url 'home' %}">Regresar</a>
			</div>		
		</div>
	</div>

	{% include "partials/cifras.html" %}
	{% lista_testimonios %}

{% endblock %}