{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block title %}¿Quiénes somos? - Mercatitulo{% endblock %}
{% block content %}
  <div class="container">
    <h1>¿Quiénes somos?:</h1>
    <div class="quienes-desc row">
	    <p>Mercatítulo es una plataforma que conecta compradores y vendedores de derechos fiduciarios inmobiliarios en Colombia y Latinoamérica.<br>
	    Nacemos como resultado de la necesidad de inversionistas de transar derechos fiduciarios inmobiliarios en un mercado secundario que ofrezca liquidez, facilidad y seguridad.<br>
	    Somos emprendedores digitales con experiencia en la creación y operación de &quot;marketplaces&quot; digitales, quienes identificamos la oportunidad de facilitar el intercambio de valor en el mercado de derechos fiduciarios en Colombia y Latinoamérica.<br>
	    En Mercatítulo buscamos contribuir con el desarrollo de la industria inmobiliaria y financiera  regional con soluciones digitales innovadoras.</p>    	
    </div>
    <br>
	<div class="founder row">
		<h2>Leonardo Suarez > CEO y Cofundador</h2>
		<a href="https://co.linkedin.com/in/leonardosuarez">https://co.linkedin.com/in/leonardosuarez</a>
		<p>Dirijo al equipo de Mercatítulo y propendo por el desarrollo innovador de la industria de los derechos fiduciarios en Colombia. Soy emprendedor digital desde el 2004 y he co-fundado más de cinco startups en EE.UU. y Latinoamerica.  Como inversionista he participado en un portafolio de más de quince empresas digitales, logrando cinco salidas exitosas a la fecha. Soy aficionado al squash, a la buena comida y al whisky de pura malta. </p>		
	</div>

	<div class="founder row">
		<h2>Gabriel Amorocho > CTO y Cofundador</h2>
		<a href="https://co.linkedin.com/in/gabrielamorocho">https://co.linkedin.com/in/gabrielamorocho</a>
		<p>Trabajo para que Mercatítulo consolide su servicio y oferta de valor a la comunidad de inversionistas en derechos fiduciarios, facilitando la compra y la venta de derechos fiduciarios en una plataforma fácil, segura y confiable. Diseño la visión tecnológica y ejecuto las estrategias de mercadeo que permiten que nuestra oferta en derechos fiduciarios sea ampliamente divulgada y comercializada. Soy caleño, orgulloso padre de familia, apasionado por los medios digitales y las artes audiovisuales.</p>
	</div>

	<div class="founder row">
		<h2>David Carvajal > Desarrollador Senior y Cofundador</h2>
		<a href="https://co.linkedin.com/in/davidgcarvajal/en ">https://co.linkedin.com/in/davidgcarvajal/en </a>
		<p>Soy el responsable por garantizar el óptimo desempeño y confiablidad de la plataforma tecnológica de Mercatítulo. Habilito tecnología de punta para facilitar la compra y venta de derechos fiduciarios en Colombia y Latinoamérica. Soy emprendedor digital, he trabajado para varias agencias digitales y creo firmemente en el trabajo en equipo y la gestión efectiva de proyectos. </p>
	</div> 
	<br>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}

