{% extends "base/base.html" %}

{% load i18n %}
{% load testimonios_tags %}
{% block title %}Riesgos y Beneficios{% endblock %}
{% block content %}

  <div class="container confirmaciones">
  	<h1>¿Cuáles son los riesgos y beneficios de los derechos fiduciarios?</h1>
  	<div class="row">
  		<p>Obviamente, los derechos fiduciarios tienen riesgos y beneficios que hay que considerar antes de realizar la inversión:</p>

  		<p>- La inversión permite ahorrar trámites, impuestos y registros que típicamente se originan en la compra y venta de inmuebles. Los inversionistas se evitan las gestiones de administración del inmueble, el pago de sus impuestos prediales, y la cancelación de los servicios públicos, los cuales paga el fideicomiso.</p>

  		<p>- En caso de que no se cumplan las condiciones para dar inicio al proyecto, y no se alcanzara mínimamente el punto de equilibrio, los fideicomitentes recibirán de regreso sus recursos, incluyendo los rendimientos generados por su inversión en la cartera colectiva de la fiduciaria.</p>

  		<p>- Los títulos se pueden ceder y heredar entre partícipes, previa diligencia y registro del nuevo fideicomitente en la fiduciaria. Mercatítulo le ayuda a adquirir o vender su derecho fiduciario. Si desea más información sobre los derechos fiduciarios, por favor regístrese en nuestra página web.</p>
  	</div>
  </div>

  {% include "partials/cifras.html" %}
  {% lista_testimonios %}

{% endblock %}

