<select class="select form-control" id="id_proyecto" name="proyecto">    
    {% if data.proyectos %}
        <option value="">Seleccione un proyecto</option>
        {% for proyecto in data.proyectos  %}
            <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
        {% endfor %}
    {% else %}
        <option value="" selected="selected">No hay proyectos con el criterio seleccionado</option>
    {% endif %}
    {% if data.exclude == 'False' %}
    	<option value="new">Crear un nuevo proyecto</option>
    {% endif %}
</select>