{% load staticfiles thumbnail %}

<div class="c_aliados clearfix">
	<div class="container">
		<h5>Nuestros Aliados</h5>
		<div class="row">		
			{% if aliados %}
				{% for aliado in aliados %}
					<img class="col-xs-6 col-md-4 img-responsive" src="{{ aliado.foto|thumbnail_url:'aliados' }}" alt="{{ aliado.nombre }}" title="{{ aliado.nombre }}">
				{% endfor %}
			{% else %}
			  	<div class="no-content">				
			  		<h2>NO SE ENCONTRARON ALIADOS</h2>
			  	</div>
			{% endif %}						
		</div>
	</div>
</div>