{% load staticfiles %}
<div class="c_cifras clearfix">
	<ul class="container">
		<li class="col-md-4">
			<h4 class="c_ico c_ico_bild"><span>+ de</span>47 <img src="{% static 'images/cityscape.png' %}" alt=""></h4>
			<p>Proyectos inmobiliarios se han construido con Derechos Fiduciarios en Colombia</p>
		</li>
		<li class="col-md-4">
			<h4><span>+ de</span>4 Billones</h4>
			<p>de Pesos Colombianos invertidos en Derechos Fiduciarios en Colombia</p>
		</li>
		<li class="col-md-4">
			<h4><span>+ de</span>25 Mil</h4>
			<p>inversionistas de Derechos Fiduciarios en Colombia</p>
		</li>
	</ul>
</div>