{% load staticfiles thumbnail %}
<div class="container compra_confirmada">
	<h2>Archivos adicionales a Descargar</h2>
	<div class="row">		
		{% if descargadocs_derechos %}
			<div>
				<table>
					<tr>
						<th>archivo</th>
						<th>descipción</th>
						<th>descargar</th>
					</tr>	
					{% for archivo in descargadocs_derechos %}
						<tr>
							<td>{{ archivo.nombre }}</td>
							<td>{{ archivo.descripcion|safe }}</td>
							<td><a href="{{ archivo.archivo.url }}" target="_blank" download="{{ archivo.nombre }}">Descargar aquí</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
		  	<div class="no-content">				
		  		<h2>NO SE ENCONTRARON ARCHIVOS</h2>
		  	</div>
		{% endif %}						
	</div>
</div>