{% load staticfiles %}
<footer class="c_footer">
	<div class="container">
		<div class="col-xs-6 col-md-5 c_destacado">
			<h2>MERCATITULO</h2>
			<p>Adquiere o cede tus derechos fiduciarios de proyectos inmobiliarios en Colombia</p>
			<p class="c_dato"><span>Phone:</span>(571) 757 9823</p>
			<p class="c_dato"><span>mail:</span><a href="mailto:info@mercatitulo.com"></a>info@mercatitulo.com</p>
		</div>
		<div class="col-xs-6 col-md-7 c_menuF">
			<nav class="col-md-4 c_lista">
				<h5>mercatítulo</h5>
				<li>
					<a href="/" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Inicio</span>
					</a>
				</li>
				<li>
					<a href="{% url 'vender' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Vender Derechos</span>
					</a>
				</li>
				<li>
					<a href="{% url 'mercado' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Mercado de derechos</span>
					</a>
				</li>
				<li>
					<a href="{% url 'proyectos' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Proyectos</span>
					</a>
				</li>
				<li>
					<a href="{% url 'contacto' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Contacto</span>
					</a>
				</li>
			</nav>
			<nav class="col-md-4 c_lista">
				<h5>Compañía</h5>
				<li>
					<a href="{% url 'derechos_que_son' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">¿Derechos fiduciarios?</span>
					</a>
				</li>
				<li>
					<a href="{% url 'como_funciona' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">¿Cómo funcionan?</span>
					</a>
				</li>
				<li>
					<a href="{% url 'riesgos_beneficios' %}" title="">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="glyphicon-class">Riesgos y Beneficios</span>
					</a>
				</li>
			</nav>
			<div class="col-md-4 c_lista">
				<h5 style="opacity: 0;">compañia</h5>
				<p>Recibe todo lo que necesitas para realizar una gran inversión</p>
			</div>
		</div>
	</div>
	<div class="c_footInt">
		<div class="container">
			<p class="c_copy">todos los derechos reservados</p>
			<div class="c_redes navbar-right">
				<a class="c_ico c_fb" href="" title="">fecebook</a>
				<!-- <a class="c_ico c_gp" href="" title="">google</a> -->
				<a class="c_ico c_tw" href="" title="">twitter</a>
				<a class="c_ico c_ins" href="" title="">instagram</a>
			</div>
		</div>
	</div>
</footer>