{% load staticfiles thumbnail %}

{% if galeria %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in galeria %}
        {% if forloop.counter0 == 0 %}        
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %} 
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for item in galeria %}
        {% if forloop.counter0 == 0 %} 
          <div class="item active">
            <img src="{{ item.foto|thumbnail_url:'galeria' }}" alt="{{ item.titulo }}" title="{{ item.descripcion }}">
            <div class="carousel-caption">
              <h3>{{ item.titulo }}</h3>
              <p>{{ item.descripcion }}</p>
            </div>
          </div>
        {% else %}
          <div class="item">
            <img src="{{ item.foto|thumbnail_url:'galeria' }}" alt="{{ item.titulo }}" title="{{ item.descripcion }}">
            <div class="carousel-caption">
              <h3>{{ item.titulo }}</h3>
              <p>{{ item.descripcion }}</p>
            </div>
          </div>        
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="no-content">        
    <h2>NO SE CARGADO LA GALERÍA</h2>
  </div>
{% endif %} 