{% load staticfiles %}
<header class="c_header c_menu navbar">
	<div class="container">
		<div class="navbar-header col-xs-12 col-md-3">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="{% static 'images/logo.png' %}" alt="">
			</a>
		</div>
		<div class="top-menu col-xs-12 col-md-9">
			<div id="user_navbar" class="navbar-collapse collapse">
				{% if user.is_authenticated %}
					<ul class="nav navbar-nav">
						<li class="hidden"><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href="/mi-cuenta/">Mi cuenta</a></li>
						<li><a href="{% url 'logout' %}">Salir</a></li>
					</ul>						
				{% else %}
					<ul class="nav navbar-nav">
						<li class="hidden"><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href="/accounts/signup/">Registrate</a></li>
						<li><a href="/accounts/login/">Ingresa</a></li>
					</ul>
				{% endif %}
			</div><!--/.nav-collapse -->

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'home' %}">Inicio</a></li>
					<li><a href="{% url 'quienes' %}">¿Quiénes somos?</a></li>
					<li><a href="{% url 'mercado' %}">Comprar Derechos Fiduciarios</a></li>
					<li><a href="{% url 'vender' %}">Vender Derechos Fiduciarios</a></li>
					<li><a href="{% url 'proyectos' %}">Proyectos Inmobiliarios</a></li>
				</ul>
			</div><!--/.nav-collapse -->					
		</div>
	</div>
</header>