{% load staticfiles thumbnail %}

<div class="c_dicen cleafix">
	<div class="container">
		<div class="row">
			<h3 class="c_titleSub">Lo que los Inversionistas en Derechos Fiduciarios Opinan de Mercatítulo</h3>
			{% if testimonios %}
				{% for testimonio in testimonios %}
					<div class="c_post col-xs-12 col-md-4">
						<div class="wrapper">
							<div class="col-xs-4 c_postIMG">									
								<img src="{{ testimonio.foto|thumbnail_url:'testimonios' }}" alt="{{ testimonio.name }}" title="{{ testimonio.descripcion }}">
							</div>
							<div class="col-xs-8 c_postTEXT">
								<h4>{{ testimonio.nombre }}</h4>
								<p>{{ testimonio.cargo }}</p>
							</div>
							<div class="c_postTW">
								<p>{{ testimonio.descripcion }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
		  	<div class="no-content">				
		  		<h2>NO SE ENCONTRARON TESTIMONIOS</h2>
		  	</div>
			{% endif %}	
		</div>
	</div>
</div>